<div class="row mb-2">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <atm-label [LabelCaption]="label"></atm-label>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <ejs-datepicker #MolDatepicker [value]="value"
         [class.see-detail]="inputFieldState === 'detail'"
         [enabled]="(inputFieldState=='detail')?false:true" 
         [min]="min" [max]="max" [format]="format"
            (change)="doChange($event)">
        </ejs-datepicker>
    </div>
</div>