<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="handleClickButtonNav($event)">
    <div class="row">
        <!-- Informasi Kasir -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="row">
                <!-- Informasi Kasir -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <div class="card shadow-sm">
                        <div class="card-header px-2 py-1">
                            <p class="text-biru-muda mb-0">Informasi Kasir</p>
                        </div>
                        <div class="card-body p-2">
                            <!-- Username -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Username / Nama'"></atm-label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 pe-2">
                                    <input type="text" class="form-control form-select-sm" readonly id="user_name">
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 ps-2">
                                    <input type="text" class="form-control form-select-sm" readonly id="full_name">
                                </div>
                            </div>

                            <!-- Waktu Buka Kasir -->
                            <div class="row mb-0">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Waktu Buka Kasir'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <input type="text" class="form-control form-select-sm" readonly
                                        id="waktu_buka_kasir">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Daftar Modal Kasir -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <div class="card shadow-sm">
                        <div class="card-header px-2 py-1">
                            <p class="text-biru-muda mb-0">Daftar Modal Kasir</p>
                        </div>
                        <div class="card-body p-0">
                            <div class="row mb-0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <mol-grid #GridData
                                        [grid-height]="screenWidth <= 1366 ? 'calc(100vh - 37rem)' : 'calc(100vh - 47rem)'"
                                        [grid-DataSource]="GridDatasource" [grid-paging]="false" [grid-lines]="'Both'"
                                        [columns]="GridConfig.GridSetupTutupKasirColumns"
                                        (initialized)="InitalizedGrid($event)">
                                    </mol-grid>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer px-2 py-1">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-end">
                                    <p class="mb-0">Jumlah Modal Kasir :</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <ejs-numerictextbox #JumlahModalKasir id="jumlah_modal_kasir" [format]="'N2'"
                                        [enableRtl]="true" [showClearButton]="false" [showSpinButton]="false"
                                        [cssClass]="'readonly-state rounded border-0'" [readonly]="true">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Daftar Setoran Kasir -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card shadow-sm">
                        <div class="card-header px-2 py-1">
                            <p class="text-biru-muda mb-0">Daftar Setoran Kasir</p>
                        </div>
                        <div class="card-body p-0">
                            <div class="row mb-0">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <mol-grid #GridDataSetoran
                                        [grid-height]="screenWidth <= 1366 ? 'calc(100vh - 37rem)' : 'calc(100vh - 47rem)'"
                                        [grid-DataSource]="GridSetoranDatasource" [grid-paging]="false"
                                        [grid-lines]="'Both'" [columns]="GridConfig.GridSetupSetoranColumns"
                                        (initialized)="InitalizedGridSetoran($event)">
                                    </mol-grid>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer px-2 py-1">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-end">
                                    <p class="mb-0">Jumlah Setoran Kasir :</p>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <ejs-numerictextbox #JumlahSetoranKasir id="jumlah_setoran_kasir" [format]="'N2'"
                                        [enableRtl]="true" [showClearButton]="false" [showSpinButton]="false"
                                        [cssClass]="'readonly-state rounded border-0'" [readonly]="true">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Input Pendapatan Kasir Selama Bertugas -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="row">
                <!-- Input Pendapatan Kasir -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" [class]="screenWidth <= 1366 ? 'mb-2' : 'mb-3'">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <p class="mb-0 text-biru-muda">
                                Input Pendapatan Kasir Selama Bertugas
                            </p>
                        </div>
                        <div class="card-body p-2"
                            [style]="screenWidth <= 1366 ? 'height: 100%' : 'height: calc(100vh - 24rem)'">
                            <div *ngFor="let item of PaymentMethodForTutupKasir; let i = index"
                                class="row mx-1 py-2 rounded border shadow-sm"
                                [class]="i == PaymentMethodForTutupKasir.length - 1 ? 'mb-0' : (screenWidth <= 1366 ? 'mb-2' : 'mb-3')">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="item.payment_method"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-numerictextbox [value]="item.jumlah_penerimaan" [format]="'N2'"
                                        [enableRtl]="true" [showClearButton]="false" [showSpinButton]="false"
                                        id="{{ item.payment_method }}_jumlah_penerimaan"
                                        (change)="handleChangeJumlahPenerimaan($event, i)">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row align-items-center">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                                    <p class="mb-0">Jumlah Pendapatan Kasir :</p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <ejs-numerictextbox #JumlahPendapatanKasir id="jumlah_pendapatan_kasir"
                                        [format]="'N2'" [enableRtl]="true" [showClearButton]="false"
                                        [showSpinButton]="false" [cssClass]="'readonly-state rounded border-0'"
                                        [readonly]="true">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Footer -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <!-- Total Saldo Kasir -->
                    <div class="row align-items-center mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                            <p class="mb-0">Total Saldo Kasir :</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <ejs-numerictextbox #JumlahPendapatanKasir id="jumlah_pendapatan_kasir" [format]="'N2'"
                                [enableRtl]="true" [showClearButton]="false" [showSpinButton]="false"
                                [cssClass]="'readonly-state rounded border-0'" [readonly]="true">
                            </ejs-numerictextbox>
                        </div>
                    </div>

                    <!-- Keterangan -->
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                            <p class="mb-0">Keterangan :</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <textarea id="keterangan_tutup_kasir" rows="2" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</org-card-layout>