<div class="row mb-2">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <atm-label [LabelCaption]="label"></atm-label>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-2">
        <ng-container *ngFor="let item of CheckboxObject">
            <div class="form-check form-check-inline">
                <atm-checkbox [id]="item.id" [value]="item.value" (change)="doChange($event)"
                    [CheckboxLabel]="item.label">
                </atm-checkbox>
            </div>
        </ng-container>
    </div>
</div>