<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="handleClickButtonNav($event)">
    <div class="row pt-2">
        <!-- Filter Offcanvas -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
            <mol-offcanvas-filter [FilterColumnDatasource]="FilterColumnDatasource"
                [FilterDropdownDatasource]="FilterDropdownDatasource" [FilterDropdownFields]="FilterDropdownFields"
                (handle-change-filter)="handleChangeFilterPencarian($event)"
                (handle-pencarian)="handlePencarianFilter($event)">
            </mol-offcanvas-filter>
        </div>

        <!-- Grid Daftar Antrian -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <ejs-grid #GridData [id]="'GridDaftarPasien'" [height]="'calc(100vh - 22rem)'" [dataSource]="GridDatasource"
                [rowHeight]="30" [gridLines]="'Both'" [allowPaging]="true" [allowResizing]="true" [allowTextWrap]="true"
                [textWrapSettings]="GridTextWrapSettings" [allowFiltering]='true' [pageSettings]="GridPageSettings"
                [toolbar]="GridToolbar" [editSettings]="GridDataEditSettings">
                <e-columns>
                    <e-column [width]="50" [field]="'id_booking'" [headerText]="'ID'" [visible]="false"
                        [type]="'number'" [allowEditing]="false" [allowSorting]="false" [format]="'N'"
                        [textAlign]="'Left'">
                    </e-column>
                    <e-column [width]="120" [field]="'tgl_rencana_inap'" [headerText]="'TGL. RENCANA INAP'"
                        [visible]="true" [headerTextAlign]="'Center'" [allowEditing]="false" [allowSorting]="false"
                        [textAlign]="'Left'" [type]="'Date'" [format]="'dd/MM/yyyy'">
                    </e-column>
                    <e-column [width]="100" [field]="'nama_kelas'" [headerText]="'KELAS REQUEST'" [visible]="true"
                        [headerTextAlign]="'Center'" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                    </e-column>
                    <e-column [width]="150" [field]="'nama_pasien'" [headerText]="'NAMA PASIEN'" [visible]="true"
                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                    </e-column>
                    <e-column [width]="80" [field]="'no_rekam_medis'" [headerText]="'NO. MR'" [visible]="true"
                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                    </e-column>
                    <e-column [width]="100" [field]="'gender'" [headerText]="'GENDER'" [visible]="true"
                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                    </e-column>
                    <e-column [width]="150" [field]="'nama_debitur'" [headerText]="'DEBITUR'" [visible]="true"
                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                    </e-column>
                    <e-column [width]="120" [field]="'status_booking'" [headerText]="'STATUS ANTRIAN'" [visible]="true"
                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Center'" [text]>
                        <ng-template #template let-data>
                            <!-- PENDING -->
                            <div *ngIf="data.status_booking == 'PENDING'" class="statustemp e_is_new_color">
                                <span class="statustxt e_is_new_color">
                                    {{ data.status_booking }}
                                </span>
                            </div>

                            <!-- WAITING CONFIRMATION -->
                            <div *ngIf="data.status_booking == 'WAITING CONFIRMATION'"
                                class="statustemp e_is_new_color">
                                <span class="statustxt e_is_new_color">
                                    {{ data.status_booking }}
                                </span>
                            </div>

                            <!-- TERJADWAL -->
                            <div *ngIf="data.status_booking == 'TERJADWAL'" class="statustemp e_is_scheduled_color">
                                <span class="statustxt e_is_scheduled_color">
                                    {{ data.status_booking }}
                                </span>
                            </div>

                            <!-- APPROVED -->
                            <div *ngIf="data.status_booking == 'APPROVED'" class="statustemp e_is_ready_color">
                                <span class="statustxt e_is_ready_color">
                                    {{ data.status_booking }}
                                </span>
                            </div>

                            <!-- CANCELED -->
                            <div *ngIf="data.status_booking == 'CANCELED'" class="statustemp e_is_fill_color">
                                <span class="statustxt e_is_fill_color">
                                    {{ data.status_booking }}
                                </span>
                            </div>
                        </ng-template>
                    </e-column>
                </e-columns>
            </ejs-grid>
        </div>

        <ng-template #ModalAntrianTerprogramRef>
            <div class="modal-header py-2 px-3 background-biru-muda text-white">
                <h5 class="modal-title" id="modalAntrianRegulerLabel">
                    Input Antrian Terprogram Pemesanan Tempat Tidur
                </h5>
                <button id="btnCloseModalAddAntrianReguler" type="button" class="btn-close" aria-label="Close"
                    (click)="handleCloseModalAddAntrianTerprogram()">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="FormAddAntrianTerprogram">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <!-- Pilih Pasien -->
                            <org-input-look-up #LookupPasien [modal-title]="'Data Pasien'"
                                [lookup-url]="UrlLookupPasien" [idTitle]="'full_name'"
                                (onGetSelectedData)="handleSelectedLookupPasien($event)"
                                [columns]="Config.LookupPasien.columns" [filter-lookup]="Config.LookupPasien.filter"
                                [label]="'Pilih Pasien'">
                            </org-input-look-up>

                            <!-- No. Rekam Medis -->
                            <mol-input-text [disabled]="true" [label]="'No. Rekam Medis'"
                                formControlName="no_rekam_medis">
                            </mol-input-text>

                            <!-- Debitur Pasien -->
                            <div class=" row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Debitur Pasien'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-dropdownlist #DropdownDebitur [dataSource]="DropdownDebiturDatasource"
                                        [fields]="DropdownDebiturFields" [allowFiltering]="true"
                                        formControlName="id_debitur">
                                    </ejs-dropdownlist>
                                </div>
                            </div>

                            <!-- Kelas Pelayanan -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Kelas Pelayanan'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-dropdownlist #DropdownKelas [dataSource]="DropdownKelasDatasource"
                                        [fields]="DropdownKelasFields" [allowFiltering]="true"
                                        formControlName="id_kelas" (change)="handleChangeKelasPerawatan($event)">
                                    </ejs-dropdownlist>
                                </div>
                            </div>

                            <!-- Tgl. Rencana Masuk -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tgl. Rencana Inap'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-datepicker #DatepickerTglRencanaMasuk [format]="'dd/MM/yyyy'"
                                        formControlName="tgl_rencana_inap">
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <!-- Unit -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Unit'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-dropdownlist #DropdownRuangan [dataSource]="DropdownRuanganDatasource"
                                        [fields]="DropdownRuanganField" [allowFiltering]="true"
                                        formControlName="id_jenis_ruangan"
                                        (change)="handleChangeDropdownRuangan(DropdownRuangan.value)">
                                    </ejs-dropdownlist>
                                </div>
                            </div>

                            <!-- Poli -->
                            <org-input-look-up-kode #LookupKodePoli [modal-title]="'Data Poli'" [lookup-url]="urlPoli"
                                [idKode]="'kode_poli'" [idTitle]="'nama_poli'"
                                (onGetSelectedData)="handleSelectedPoli($event)" [columns]="Config.LookupPoli.columns"
                                [filter-lookup]="Config.LookupPoli.filter" [label]="'Poli'">
                            </org-input-look-up-kode>

                            <!-- No. Room -->
                            <org-input-look-up #LookupRoom [modal-title]="'Data Room'" [lookup-url]="urlLookupRoom"
                                [idTitle]="'room_no'" (onGetSelectedData)="handleSelectedRoom($event)"
                                [columns]="Config.LookupRoom.columns" [filter-lookup]="Config.LookupRoom.filter"
                                [label]="'No. Room'" [static-filter]="LookupRoomStaticFilter">
                            </org-input-look-up>

                            <!-- No. Bed -->
                            <org-input-look-up #LookupBed [modal-title]="'Data Bed'" [lookup-url]="urlLookupBed"
                                [idTitle]="'bed_no'" (onGetSelectedData)="handleSelectedBed($event)"
                                [columns]="Config.LookupBed.columns" [filter-lookup]="Config.LookupBed.filter"
                                [static-filter]="LookupBedStaticFilter" [label]="'No. Bed'">
                            </org-input-look-up>

                            <!-- Tgl. Rencana Pulang -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tgl. Rencana Pulang'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-datepicker #DatepickerTglRencanaPulang [format]="'dd/MM/yyyy'"
                                        formControlName="tgl_rencana_pulang">
                                    </ejs-datepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2 px-3 background-abu-muda text-white">
                <button type="button" class="btn btn-secondary btn-sm" (click)="handleCloseModalAddAntrianTerprogram()">
                    Close
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="handleSubmitFormAddAntrianTerprogram(FormAddAntrianTerprogram.value)">
                    Simpan
                </button>
            </div>
        </ng-template>
    </div>
</org-card-layout>