<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="formAdmisiPasien">
        <div class="row">
            <div class="col-sm-6">
                <!-- No. Register -->
                <mol-input-text [disabled]="true" formControlName="NoRegister" [label]="'No Register'"></mol-input-text>

                <!-- Foto Pasien -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <img [src]="!image ? '../../../../../../assets/image/pendaftaran-ulang-pasien/blank.png' : '../../../../../../assets/image/pendaftaran-ulang-pasien/11.jpg'"
                            class="img-thumbnail" width="120">
                    </div>
                </div>

                <!-- No. MR -->
                <org-input-look-up #LookupMr [lookup-url]="urlRm" [idTitle]="'MrNo'"
                    (onGetSelectedData)="heandleSelectedMR($event)" [columns]="settingGrid.LookupPasien.columns"
                    [filter-lookup]="settingGrid.LookupPasien.filter" [label]="'No MR'">
                </org-input-look-up>

                <!-- Nama Pasien -->
                <mol-input-text formControlName="NamaPasien" [label]="'Nama Pasien'"></mol-input-text>

                <!-- Tanggal Masuk -->
                <mol-datepicker-syncfusion [label]="'Tanggal Masuk'" [format]="'dd MMMM yyyy'"
                    formControlName="TglMasukRawat" [min]="TglMasukMin">
                </mol-datepicker-syncfusion>

                <!-- Unit -->
                <mol-input-text [label]="'Unit'"></mol-input-text>

                <!-- Poli -->
                <org-input-look-up-kode #LookupKodePoli [lookup-url]="urlPoli" [idKode]="'PolyCode'"
                    [idTitle]="'PolyName'" (onGetSelectedData)="heandleSelectedPoli($event)"
                    [columns]="settingGrid.LookupPoli.columns" [filter-lookup]="settingGrid.LookupPoli.filter"
                    [label]="'Poli'">
                </org-input-look-up-kode>

                <!-- Nama Dokter -->
                <org-input-look-up-kode #LookupKodeDokter [lookup-url]="urlDokter" [idKode]="'KodeDokter'"
                    [idTitle]="'FirstName'" (onGetSelectedData)="heandleSelectedDokter($event)"
                    [columns]="settingGrid.LookupDokter.columns" [filter-lookup]="settingGrid.LookupDokter.filter"
                    [label]="'Nama Dokter'">
                </org-input-look-up-kode>

                <!-- Debitur -->
                <org-input-look-up-kode #LookupKodeDebitur [lookup-url]="urlDebitur" [idKode]="'OrgCode'"
                    [idTitle]="'Name'" (onGetSelectedData)="heandleSelectedDebitur($event)"
                    [columns]="settingGrid.LookupDebitur.columns" [filter-lookup]="settingGrid.LookupDebitur.filter"
                    [label]="'Debitur'">
                </org-input-look-up-kode>

                <!-- Kelas Pelayanan -->
                <org-input-look-up-kode #LookupKelas [lookup-url]="urlPelayanan" [idKode]="'ScvCode'"
                    [idTitle]="'ScvDescr'" (onGetSelectedData)="heandleSelectedPelayanan($event)"
                    [columns]="settingGrid.LookupKelasPelayanan.columns"
                    [filter-lookup]="settingGrid.LookupKelasPelayanan.filter" [label]="'Kelas Pelayanan'">
                </org-input-look-up-kode>
            </div>
            <div class="col-sm-6">
                <!-- No. Peserta -->
                <mol-input-text formControlName="FromNoRegister" [label]="'No. Peserta'"></mol-input-text>

                <!-- No. SEP -->
                <mol-input-text formControlName="ScvCode" [label]="'No. SEP'"></mol-input-text>

                <!-- Jenis Karcis -->
                <mol-input-text [label]="'Jenis Karcis'"></mol-input-text>

                <!-- No. Karcis -->
                <mol-input-text [label]="'No Karcis'"></mol-input-text>
                <!-- Asal Rujukan -->
                <!-- <org-input-look-up-kode (onGetSelectedData)="heandleSelected($event)" [columns]="settingGrid.LookupAsalRujukan.columns" [filter-lookup]="settingGrid.LookupAsalRujukan.filter" [label]="'Asal Rujukan'"></org-input-look-up-kode> -->

                <!-- Kota / Kab -->
                <!-- <org-input-look-up-kode (onGetSelectedData)="heandleSelectedMR($event)" [columns]="settingGrid.LookupKotaRujukan.columns" [filter-lookup]="settingGrid.LookupKotaRujukan.filter" [label]="'Kota/Kab'"></org-input-look-up-kode> -->

                <!-- Di Rujuk -->
                <!-- <mol-input-text formControlName="KotaAsalRujukan" [label]="'Di Rujuk Oleh'"></mol-input-text> -->

                <!-- Diagnosa Awal -->
                <org-input-look-up-kode #LookupDiagnosa [lookup-url]="urlDiagnosa" [idKode]="'IcdCode'"
                    [idTitle]="'IcdDescr'" (onGetSelectedData)="heandleSelectedDiagnosaAwal($event)"
                    [columns]="settingGrid.LookupDiagnosa.columns" [filter-lookup]="settingGrid.LookupDiagnosa.filter"
                    [label]="'Diagnosa Awal'">
                </org-input-look-up-kode>

                <!-- Keluhan -->
                <mol-input-text formControlName="Keluhan" [label]="'Keluhan'"></mol-input-text>

                <!-- Catatan -->
                <mol-input-textarea formControlName="Catatan" [label]="'Catatan'"></mol-input-textarea>

                <!-- Catatan Terakhir -->
                <mol-input-textarea [label]="'Catatan Terakhir'"></mol-input-textarea>

                <!-- Operator -->
                <mol-input-text [label]="'Operator'"></mol-input-text>
            </div>
        </div>
    </form>
</org-card-layout>