<div class="row {{ ShowTitle ? '' : 'px-0 mx-0' }}">
    <!-- Notification Toast -->
    <atm-notification aria-live="polite" aria-atomic="true" class="atmNotification"></atm-notification>

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <!-- Header Ribbon -->
            <div *ngIf="ShowTitle" class="{{ HeaderRibbonClass }} text-start mb-2">
                <atm-header-ribbon [HeaderRibbon]="HeaderRibbon" [hidden]="HideHeaderRibbon"></atm-header-ribbon>
            </div>

            <div *ngIf="ButtonNav?.length"
                class="{{ ButtonNavClass }} text-end mb-2 {{ ShowTitle ? 'extra-padding-right' : 'mt-2' }}">
                <mol-button-nav [buttons]="ButtonNav" (onClickButtonNav)="onClickedButtonNav($event)">
                </mol-button-nav>
            </div>
        </div>
    </div>

    <!-- Content Card -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 {{ ShowTitle ? '' : 'px-2' }}">
        <div
            class="card card_layout_animation {{ TransparentBackground ? 'card_layout_transparent' : 'shadow-sm border-top-biru-muda' }} ">
            <div
                class="card-body {{ ShowTitle ? 'card_dashboard_not_dokter py-2' : 'card_dashboard_dokter px-2 pb-3 pt-0' }}">
                <ng-content></ng-content>
            </div>
        </div>
    </div>
</div>