<!-- Modal Info Kunjungan -->
<button id="btnModalAkomodasiRawatInap" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#modalAkomodasiRawatInap" [hidden]="true">
    Launch Modal Akomodasi Rawat Inap
</button>

<div class="modal fade" id="modalAkomodasiRawatInap" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="modalAkomodasiRawatInapLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal_akomodasi_rawat_inap">
        <div class="modal-content border-0">
            <div class="modal-header py-2 px-3 background-biru-muda text-white">
                <h5 class="modal-title" id="modalAkomodasiRawatInapLabel">Akomodasi Pasien</h5>
                <button id="btnCloseAkomodasiRawatInap" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close" (click)="handleCloseAkomodasiRawatInap(false)">
                </button>
            </div>
            <div class="modal-body">
                <org-tabs #OrgTabsRef (onGetSelectedTabId)="handleSelectedTabId($event)">
                    <!-- Akomodasi -->
                    <org-tabs-item>
                        <org-tabs-label [Id]="'Akomodasi'">Akomodasi</org-tabs-label>
                        <org-tabs-body>
                            <app-list-akomodasi [ListAkomodasiDatasource]="ListAkomodasiDatasource">
                            </app-list-akomodasi>
                        </org-tabs-body>
                    </org-tabs-item>

                    <!-- Detail Akomodasi -->
                    <org-tabs-item>
                        <org-tabs-label [Id]="'Detail_Akomodasi'">Detail Akomodasi</org-tabs-label>
                        <org-tabs-body>
                            <ejs-grid #GridDetailAkomodasi [dataSource]="ListAkomodasiDetailDatasource"
                                [height]="'250px'" [rowHeight]="30" [gridLines]="'Both'" [allowPaging]="false"
                                [allowResizing]="true" [allowFiltering]='true'
                                [selectionSettings]="GridDetailAkomodasiSelectionSettings"
                                [editSettings]="GridDetailAkomodasiEditSettings" [toolbar]="GridDetailAkomodasiToolbar"
                                (toolbarClick)="handleToolbarClickDetailAkomodasi($event)"
                                (rowSelected)="handleSelectedRowDetailAkomodasi($event)"
                                (recordDoubleClick)="handleRecordDoubleClickDetailAkomodasi($event)"
                                (queryCellInfo)="handleQueryCellInfo($event)"
                                (actionComplete)="handleActionCompletedDetailAkomodasi($event)">
                                <e-columns>
                                    <e-column [width]="100" [field]="'Checkbox'" [headerText]="'Checkbox'"
                                        [visible]="true" [textAlign]="'Center'" [headerTextAlign]="'Center'"
                                        [type]="'Checkbox'">
                                    </e-column>
                                    <e-column [width]="120" [field]="'tanggal_akomodasi'" [headerText]="'TANGGAL'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'" [type]="'DateTime'" [format]="'dd/MM/yyy'">
                                    </e-column>
                                    <e-column [width]="120" [field]="'kode_setup_tarif'" [headerText]="'KODE TIKET'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="200" [field]="'nama_setup_tarif'" [headerText]="'NAMA TARIF'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'room_no'" [headerText]="'NO. ROOM'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'bed_no'" [headerText]="'NO. BED'" [visible]="true"
                                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="70" [field]="'nama_kelas'" [headerText]="'KELAS'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="70" [field]="'qty'" [headerText]="'QTY'" [visible]="true"
                                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                        [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'unit_amount'" [headerText]="'HARGA'"
                                        [visible]="false" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'total_amount'" [headerText]="'SUBTOTAL'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'comp_fee'" [headerText]="'ASS/TTG P'"
                                        [visible]="true" [allowEditing]="true" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'" [edit]="AsuransiDetailAkomodasiParams">
                                    </e-column>
                                    <e-column [width]="100" [field]="'subsidi'" [headerText]="'SUBSIDI'"
                                        [visible]="true" [allowEditing]="true" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'" [edit]="SubsidiDetailAkomodasiParams">
                                    </e-column>
                                    <e-column [width]="100" [field]="'tagihan'" [headerText]="'TAGIHAN'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'iur_biaya'" [headerText]="'IUR BIAYA'"
                                        [visible]="true" [allowEditing]="true" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'" [edit]="IurBiayaDetailAkomodasiParams">
                                    </e-column>
                                </e-columns>
                            </ejs-grid>
                        </org-tabs-body>
                    </org-tabs-item>

                    <!-- Bed Transfer -->
                    <org-tabs-item>
                        <org-tabs-label [Id]="'Bed_Transfer'">Bed Transfer</org-tabs-label>
                        <org-tabs-body>
                            <app-list-bed-transfer></app-list-bed-transfer>
                        </org-tabs-body>
                    </org-tabs-item>
                </org-tabs>
            </div>
            <div class="modal-footer py-2 px-3 background-abu-muda text-white">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                    (click)="handleCloseAkomodasiRawatInap(false)">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Detail Akomodasi -->
<button id="btnModalAddDetailAkomodasi" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#modalAddDetailAkomodasi" [hidden]="true">
    Launch Modal Akomodasi Rawat Inap
</button>

<div class="modal fade" id="modalAddDetailAkomodasi" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="modalAddDetailAkomodasiLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal_akomodasi_rawat_inap">
        <div class="modal-content border-0">
            <div class="modal-header py-2 px-3 background-biru-muda text-white">
                <h5 class="modal-title" id="modalAddDetailAkomodasiLabel">Add Detail Akomodasi Pasien</h5>
                <button id="btnCloseAddDetailAkomodasi" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="FormAddDetailAkomodasi">
                    <div class="row mb-2">
                        <!-- Tanggal dan Qty -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <!-- Tanggal -->
                            <div class="row mb-2 align-items-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tanggal *'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-datepicker #DatepickerTanggal [format]="'dd/MM/yyyy'"
                                        formControlName="tanggal">
                                    </ejs-datepicker>
                                </div>
                            </div>

                            <!-- Qty (Hari) -->
                            <div class="row mb-2 align-items-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Qty (Hari) *'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-numerictextbox #NumericTextboxQty formControlName="qty" [format]="'N0'"
                                        [min]="0" [showClearButton]="false" [showSpinButton]="false"
                                        style="text-align: right; padding-right: 5px;">
                                    </ejs-numerictextbox>
                                </div>
                            </div>
                        </div>

                        <!-- Poli dan Kelas -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <!-- Lookup Poli -->
                            <org-input-look-up-kode #LookupPoli [modal-title]="'Data Poli'" [lookup-url]="UrlLookupPoli"
                                [idKode]="'kode_poli'" [idTitle]="'nama_poli'"
                                (onGetSelectedData)="handleSelectedPoli($event)" [columns]="Config.LookupPoli.columns"
                                [filter-lookup]="Config.LookupPoli.filter" [label]="'Poli *'">
                            </org-input-look-up-kode>

                            <!-- Kelas Pelayanan -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Kelas Pelayanan *'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-dropdownlist #DropdownKelas [dataSource]="DropdownKelasDatasource"
                                        [fields]="DropdownKelasField" [allowFiltering]="true" formControlName="id_kelas"
                                        (change)="handleChangeDropdownKelas($event)">
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                        </div>

                        <!-- No. Room dan No. Bed -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <!-- No. Room -->
                            <org-input-look-up #LookupRoom [modal-title]="'Data Room'" [lookup-url]="UrlLookupRoom"
                                [idTitle]="'room_no'" (onGetSelectedData)="handleSelectedRoom($event)"
                                [columns]="Config.LookupRoom.columns" [filter-lookup]="Config.LookupRoom.filter"
                                [static-filter]="LookupRoomStaticFilter" [label]="'No. Room *'">
                            </org-input-look-up>

                            <!-- No. Bed -->
                            <org-input-look-up #LookupBed [modal-title]="'Data Bed'" [lookup-url]="UrlLookupBed"
                                [idTitle]="'bed_no'" (onGetSelectedData)="handleSelectedBed($event)"
                                [columns]="Config.LookupBed.columns" [filter-lookup]="Config.LookupBed.filter"
                                [static-filter]="LookupBedStaticFilter" [label]="'No. Bed *'">
                            </org-input-look-up>



                            <div class="row justify-content-end">
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 d-grid gap-2">
                                    <button class="btn btn-primary btn-sm" type="button"
                                        [disabled]="FormAddDetailAkomodasi.invalid"
                                        (click)="handleAddDataDetailAkomodasi(FormAddDetailAkomodasi.value)">
                                        Add
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mol-grid #GridAddDetailAkomodasi [grid-height]="300"
                                [grid-DataSource]="GridAddDetailAkomodasiDatasource" [grid-paging]="false"
                                [grid-editSettings]="GridAddDetailAkomodasiEditSettings" [grid-lines]="'Both'"
                                [grid-toolbar]="GridAddDetailAkomodasiToolbar"
                                [columns]="Config.GridAddDetailAkomodasiColumns"
                                (row-selected)="handleSelectedRow($event)" (initialized)="InitalizedGrid($event)"
                                (toolbar-click)="handleToolbarClick($event)">
                            </mol-grid>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2 px-3 background-abu-muda text-white">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal"
                    (click)="handleCloseAddDetailAkomodasi()">
                    Close
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="handleSubmitAddDetailAkomodasi(GridAddDetailAkomodasiDatasource)">
                    Simpan
                </button>
            </div>
        </div>
    </div>
</div>