<org-card-layout [ButtonNav]="TabId == 'Input' ? ButtonNav : []" (onClickButtonNav)="handleClickButtonNav($event)">
    <org-tabs #OrgTabsRef [showHeader]="false" (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- Data -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Data'">Data Group COA</org-tabs-label>
            <org-tabs-body>
                <mol-grid
                    #GridData
                    [grid-height]="300"
                    [grid-DataSource]="GridDatasource"
                    [grid-paging]="false"
                    [grid-editSettings]="GridDataEditSettings"
                    [grid-lines]="'Both'"
                    [grid-toolbar]="GridDataToolbar"
                    [columns]="GridConfig.GridColumns"
                    (row-selected)="handleSelectedRow($event)"
                    (toolbar-click)="handleToolbarClick($event)"
                    (load-grid)="handleLoadGrid($event)"
                    (initialized)="InitalizedGrid($event)"
                    (command-click)="handleClickCommandGrid($event)"
                    (action-complete)="handleActionComplete($event)"></mol-grid>

                    <ul>
                        <ng-template ngFor let-item [ngForOf]="Dataku" let-i="index">
                            <li>{{ item.nu + item.obat + item.jumlah }}</li>
                        </ng-template>
                    </ul>
                    <button (click)="coba()">sort</button>
                    
                    {{ Total }}

            </org-tabs-body>
        </org-tabs-item>
        <!-- Input -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Input'">Input Group COA</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputData" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                            <mol-input-text 
                                [label]="' Group COA'" 
                                formControlName="grup_coa"
                                [IsFormControlInvalid]="grup_coa.invalid"
                                [ValidatorsCaption]="' Group COA Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState"
                                [disabled]="inputFieldState==='edit'"
                                >
                            </mol-input-text>
                            <mol-input-text 
                                [label]="'Description'" 
                                formControlName="deskripsi"
                                [IsFormControlInvalid]="deskripsi.invalid"
                                [ValidatorsCaption]="'Description Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>