<org-card-layout [ButtonNav]="TabId == 'InputPabrik' && FormInputDataPabrik.valid ? ButtonNav : []"
    (onClickButtonNav)="onClickButtonNav($event)">
    <org-tabs #OrgTabsRef (onGetSelectedTabId)="onGetSelectedTabId($event)">
        <!-- Data Pabrik -->
        <org-tabs-item>
            <org-tabs-label [Id]="'DataPabrik'">Data Pabrik</org-tabs-label>
            <org-tabs-body>
                <mol-grid #GridDataPabrik [grid-id]="'GridDataPabrik'" [grid-height]="300"
                    [grid-DataSource]="GridPabrikConfig.GridPabrikDataSource" [grid-paging]="true"
                    [grid-editSettings]="GridDataPabrikEditSettings" [grid-lines]="'Both'"
                    [grid-initial-page]="GridDataPabrikPagingSettings" [grid-toolbar]="GridDataPabrikToolbar"
                    [columns]="GridPabrikColumns" (row-selected)="onSelectedRow($event)"
                    (toolbar-click)="onToolbarClick($event)" (load-grid)="onLoadGridPabrik($event)"
                    (initialized)="onInitalizedGrid($event)" (command-click)="onClickCommandGridPabrik($event)">
                </mol-grid>

            </org-tabs-body>
        </org-tabs-item>

        <!-- Input Pabrik -->
        <org-tabs-item>
            <org-tabs-label [Id]="'InputPabrik'">Input Pabrik</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputDataPabrik" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">

                            <mol-input-text [label]="'Kode Pabrik'" formControlName="kode_pabrik"
                                [IsFormControlInvalid]="kode_pabrik.invalid"
                                [ValidatorsCaption]="'Kode Pabrik Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>

                            <mol-input-text [label]="'Nama Pabrik'" formControlName="nama_pabrik"
                                [IsFormControlInvalid]="nama_pabrik.invalid"
                                [ValidatorsCaption]="'Nama Pabrik Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-header">
                                    <h6 class="font-cabin mb-0">Detail Pabrik</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <!-- Kontak -->
                                            <mol-input-text [label]="'Kontak'" formControlName="contact_person"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>

                                            <!-- Alamat -->
                                            <mol-input-text [label]="'Alamat Pabrik'" formControlName="alamat_pabrik"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>

                                            <!-- Kota -->
                                            <mol-input-text [label]="'Kab / Kota'" formControlName="kota"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>

                                            <!-- Provinsi -->
                                            <mol-input-text [label]="'Provinsi'" formControlName="provinsi"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>

                                            <!-- Negara -->
                                            <mol-input-text [label]="'Negara'" formControlName="negara"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <!-- Kode Pos -->
                                            <mol-input-text [label]="'Kode Pos'" formControlName="kode_pos"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>

                                            <!-- No. Telepon -->
                                            <mol-input-text [label]="'No. Telepon'" formControlName="telepon"
                                                [inputFieldState]="inputFieldState">
                                            </mol-input-text>

                                            <!-- No. Fax -->
                                            <mol-input-text [label]="'No. Fax'" formControlName="fax"
                                                [inputFieldState]="inputFieldState"></mol-input-text>

                                            <!-- Email -->
                                            <mol-input-text [label]="'Email'" formControlName="email"
                                                [inputFieldState]="inputFieldState"></mol-input-text>

                                            <!-- Status Active -->
                                            <!-- <mol-input-checkbox [label]="'Status'" formControlName="is_active"
                                                [CheckboxObject]="CheckboxStatus">
                                            </mol-input-checkbox> -->
                                            <mol-radio-button [id]="'is_active'" [label]="'Status'"
                                                formControlName="is_active" [RadioButtonObject]="RadioButtonStatus">
                                            </mol-radio-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>