<org-card-layout>
    <org-tabs #OrgTabsRef (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- IRJA -->
        <org-tabs-item>
            <org-tabs-label [Id]="'IRJA'">IRJA</org-tabs-label>
            <org-tabs-body>

            </org-tabs-body>
        </org-tabs-item>

        <!-- IRNA -->
        <org-tabs-item>
            <org-tabs-label [Id]="'IRNA'">IRNA</org-tabs-label>
            <org-tabs-body>

            </org-tabs-body>
        </org-tabs-item>

        <!-- IRDA -->
        <org-tabs-item>
            <org-tabs-label [Id]="'IRDA'">IRDA</org-tabs-label>
            <org-tabs-body>

            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>