<org-card-layout>
    <org-tabs>
        <org-tabs-item>
            <org-tabs-label>Group</org-tabs-label>
            <org-tabs-body>
                <setup-kode-tarif-tabs-group></setup-kode-tarif-tabs-group>
            </org-tabs-body>
        </org-tabs-item>
        <org-tabs-item>
            <org-tabs-label>Sub Group</org-tabs-label>
            <org-tabs-body>
                <setup-kode-tarif-tab-subgroup></setup-kode-tarif-tab-subgroup>
            </org-tabs-body>
        </org-tabs-item>
        <org-tabs-item>
            <org-tabs-label>Tarif</org-tabs-label>
            <org-tabs-body>
                <setup-kode-tarif-tab-tarif></setup-kode-tarif-tab-tarif>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>
    