<button type="button" id="btnBankDarah" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalBankDarah"
    hidden>
</button>

<div class="modal fade" id="modalBankDarah" aria-labelledby="modalBankDarah" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header px-2 py-1 background-biru-muda text-white">
                <h5 class="modal-title pull-left">Bank Darah</h5>
                <button id="btnCloseModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body p-2">
                <form [formGroup]="FormBankDarah">
                    <!-- Informasi Pasien -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card shadow-sm">
                                <div class="card-header p-2">
                                    <p class="text-biru-muda mb-0">Pasien</p>
                                </div>
                                <div class="card-body py-1 px-2">
                                    <div class="row">
                                        <!-- No Reg / No. RM dan Nama Pasien -->
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <div class="row">
                                                <!-- No Reg / RM -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <atm-label [LabelCaption]="'No. Reg / RM'"></atm-label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <input type="text" class="form-control form-select-sm"
                                                                readonly
                                                                value="{{ daftarPasienService.ActivePasien.value.no_register }} / {{ daftarPasienService.ActivePasien.value.no_rekam_medis }}">
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Nama Pasien -->
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <atm-label [LabelCaption]="'Nama Pasien'"></atm-label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                                            <input type="text" class="form-control form-select-sm"
                                                                readonly
                                                                value="{{ daftarPasienService.ActivePasien.value.nama_pasien }}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Diagnosa -->
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <org-input-look-up [label]="'Diagnosa'" [modal-title]="'Pilih Diagnosa'"
                                                [filter-lookup]="Config.LookupDiagnosa.filter"
                                                [lookup-url]="urlDiagnosa" [columns]="Config.LookupDiagnosa.columns"
                                                [idTitle]="'nama_icd'"
                                                (onGetSelectedData)="handleSelectedDiagnosa($event)">
                                            </org-input-look-up>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Data Transfusi -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card shadow-sm">
                                <div class="card-header py-1 px-2">
                                    <p class="text-biru-muda mb-0">Data Transfusi</p>
                                </div>
                                <div class="card-body p-2" formGroupName="master_order_darah">
                                    <div class="row">
                                        <!-- Banyak -->
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                            <div class="row mb-2">
                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <!-- Transfusi Sebelumnya -->
                                                    <div class="row mb-2 align-items-center">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <atm-label [LabelCaption]="'Transfusi Sebelumnya'">
                                                            </atm-label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pt-2">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                    name="is_pernah_tranfusi"
                                                                    id="transfusi_sebelumnya_pernah" [value]="true"
                                                                    formControlName="is_pernah_tranfusi">
                                                                <label class="form-check-label"
                                                                    for="transfusi_sebelumnya_pernah">
                                                                    Pernah
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                    name="is_pernah_tranfusi"
                                                                    id="transfusi_sebelumnya_tidak" [value]="false"
                                                                    formControlName="is_pernah_tranfusi">
                                                                <label class="form-check-label"
                                                                    for="transfusi_sebelumnya_tidak">
                                                                    Tidak
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <!-- Untuk Wanita -->
                                                    <div class="row mb-2 align-items-center">
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                            <atm-label [LabelCaption]="'Untuk Wanita'"></atm-label>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 pt-2">
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                    name="is_hamil" id="untuk_wanita_hamil"
                                                                    [value]="true" formControlName="is_hamil">
                                                                <label class="form-check-label"
                                                                    for="untuk_wanita_hamil">
                                                                    Hamil
                                                                </label>
                                                            </div>
                                                            <div class="form-check form-check-inline">
                                                                <input class="form-check-input" type="radio"
                                                                    name="is_hamil" id="hamil_wanita_tidak"
                                                                    [value]="false" formControlName="is_hamil">
                                                                <label class="form-check-label"
                                                                    for="hamil_wanita_tidak">
                                                                    Tidak
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                                    <!-- Gol. Darah -->
                                                    <div class="row mb-2 align-items-center">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <atm-label [LabelCaption]="'Gol. Darah'"></atm-label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-1">
                                                            <ejs-dropdownlist #GolonganDarah
                                                                [dataSource]="GolonganDarahDatasource"
                                                                [fields]="GolonganDarahFields"
                                                                formControlName="gol_darah">
                                                            </ejs-dropdownlist>
                                                        </div>
                                                    </div>

                                                    <!-- Tgl Diperlukan -->
                                                    <div class="row mb-2 align-items-center">
                                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                                            <atm-label [LabelCaption]="'Tgl. Diperlukan'"></atm-label>
                                                        </div>
                                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-1">
                                                            <ejs-datepicker [format]="'dd/MM/yyyy'"
                                                                formControlName="tgl_diperlukan"></ejs-datepicker>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Lookup Dokter -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                                    <org-input-look-up [label]="'Dokter Peminta'"
                                                        [divLabelClass]="'col-lg-3'" [divInputClass]="'col-lg-9'"
                                                        [modal-title]="'Data Dokter'"
                                                        [filter-lookup]="Config.LookupDokter.filter"
                                                        [lookup-url]="urlDokter" [columns]="Config.LookupDokter.columns"
                                                        [idTitle]="'full_name'"
                                                        (onGetSelectedData)="handleSelectedDiagnosa($event)">
                                                    </org-input-look-up>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Indikasi Transfusi dan Catatan -->
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                            <!-- Indikasi Transfusi -->
                                            <div class="row mb-1">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <atm-label [LabelCaption]="'Indikasi Transfusi'">
                                                    </atm-label>
                                                    <input class="form-control form-select-sm" id="indikasi_transfusi"
                                                        formControlName="indikasi_transfusi">
                                                </div>
                                            </div>

                                            <!-- Catatan -->
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                    <atm-label [LabelCaption]="'Catatan'">
                                                    </atm-label>
                                                    <input class="form-control form-select-sm" id="catatan"
                                                        formControlName="catatan">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Grid Item Bank Darah -->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <mol-grid #GridData [grid-height]="110" [grid-DataSource]="GridBankDarahDatasource"
                                [grid-paging]="false" [grid-lines]="'Both'" [grid-toolbar]="GridBankDarahToolbar"
                                [columns]="Config.GridBankDarahColumns" (row-selected)="handleSelectedRow($event)"
                                (toolbar-click)="handleToolbarClick($event)" (initialized)="InitalizedGrid($event)">
                            </mol-grid>
                        </div>
                    </div>

                    <org-look-up-checklist #LookupChecklist [LookupTitle]="'Daftar Tarif Order Darah'"
                        [LookupUrl]="UrlLookupTarifBerlaku" [LookupFilters]="Config.LookupTarif.filter"
                        [GridId]="'LookupChecklistTarifBerlaku'" [GridColumns]="Config.LookupTarif.columns"
                        (OnGetSelectedRecords)="handleSelectedLookupTarif($event)">
                    </org-look-up-checklist>
                </form>
            </div>
            <div class="modal-footer p-1 background-abu-muda">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-123">
                        <button class="btn btn-danger btn-sm mx-2" type="button" (click)="handleCloseModalBankDarah()">
                            Tutup
                        </button>
                        <button class="btn btn-primary btn-sm" type="button"
                            (click)="handleSubmitBankDarah(FormBankDarah.value)">
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>