<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="handleClickButtonNav($event)">
    <form [formGroup]="FormAddObat" class="form-irna">
        <div class="row">
            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <p style="display: inline-block;" style="line-height: 3!important;font-weight: bold;">
                                Racikan? <input class="form-check-input" style="vertical-align: inherit" (ngModelChange)="handleChangeRacikan($event)" type="checkbox" formControlName="is_racikan">
                                Pillih
                                <span *ngIf="!is_racikan.value">
                                    Obat 
                                    <!-- <div style="width: 50px;"> -->
                                        <ejs-dropdownlist id='DropdownObat' #Drop class="form_paragraf"
                                            [allowFiltering]="true" 
                                            [dataSource]='data' 
                                            [fields]='fields' 
                                            [placeholder]='text' 
                                            [query]='query' 
                                            [sortOrder]='sorting'  
                                            [allowFiltering]='true'
                                            (filtering)='onFiltering($event)'
                                            (change)="handleChangeObat($event)" formControlName="id_item" popupWidth='55rem'
                                        ></ejs-dropdownlist>
                                    <!-- </div> -->
                                </span>
                                <span *ngIf="is_racikan.value">
                                    Racikan
                                    <div class="form_paragraf">
                                        <div class="input-group " style="width: 200px;">
                                            <input type="text" class="form-control form-select-sm" formControlName="nama_racikan"
                                                (change)="handleChangeNamaRacikan()">
                                            <button id="btnInputGroup" class="btn btn-primary" type="button"
                                                style=" padding: .1rem .8rem; background-color: '#00afff; border: 0';"
                                                (click)="handelClickRacikan($event)">
                                                <i class="fas fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                    kemasan
                                    <ejs-dropdownlist #MolDropdown [dataSource]="setupMetodeRacikanService.dataSource | async"
                                        [fields]="DropdownMetodeRacikanFields" [allowFiltering]="true"
                                        class="form_paragraf"
                                        (change)="handleChangeMetodeRacikan($event)"
                                        formControlName="id_metode_racikan"
                                    >
                                    </ejs-dropdownlist>
                                </span>
                                , Rute Pemberian Obat 
                                <ejs-combobox id="DropdownLabelPemakaian" class="form_paragraf" [allowFiltering]="true"
                                    [dataSource]="setupRutePemberianObatService.dataSource | async" formControlName="id_rute_pemberian_obat" popupWidth='30rem'
                                    [fields]="DropdownRuteFields" (change)="handleChangeRute($event)">
                                </ejs-combobox>
                                sehari 
                                <ejs-numerictextbox [format]="'N0'" style="width: 50px;" class="form_paragraf" id="NumericQty" [showSpinButton]="false"
                                    [showClearButton]="false" formControlName="qty_harian" [ste]>
                                </ejs-numerictextbox> {{ nama_satuan.value }}
                                , Diberikan 
                                <ejs-numerictextbox [format]="'N0'" style="width: 50px;" class="form_paragraf" id="NumericQty" [showSpinButton]="false"
                                    [showClearButton]="false" formControlName="jumlah_satuan_aturan_pakai" [ste]>
                                </ejs-numerictextbox> {{ nama_satuan.value }}
                                Tiap 
                                <ejs-numerictextbox [format]="'N0'" style="width: 50px;" class="form_paragraf" id="NumericQty" [showSpinButton]="false"
                                    [showClearButton]="false" formControlName="jumlah_interval_aturan_pakai" [ste]>
                                </ejs-numerictextbox> 
                                <ejs-combobox id="DropdownLabelPemakaian" style="width: 100px;" class="form_paragraf" [allowFiltering]="true"
                                    [dataSource]="setupIntervalAturanPakaiService.dataSource | async" formControlName="id_interval_aturan_pakai" popupWidth='30rem'
                                    [fields]="DropdownPemakaianFields" (change)="handleChangePemakaian($event)">
                                </ejs-combobox>
                                aturan pakai
                                <ejs-combobox id="DropdownTambahanAturanPakai"  class="form_paragraf" [allowFiltering]="true"
                                    [dataSource]="dataSourceTambahanAturanPakai" formControlName="aturan" popupWidth='25rem'
                                    [fields]="DropdownAturanFields" (change)="handleChangeAturan($event)">
                                </ejs-combobox>
                            </p>  
                            <p style="font-weight: bold;"> 
                                Obat ini akan diberikan selama
                                <ejs-numerictextbox [format]="'N0'" style="width: 50px;" class="form_paragraf" id="NumericQty" [showSpinButton]="false"
                                    [showClearButton]="false" formControlName="jumlah_hari" [ste]>
                                </ejs-numerictextbox> hari
                            </p>  
                        </div>
                        
                        <!-- LookUp Racikan -->
                        <org-look-up-hirarki
                             #LookupRacikan 
                             [lookup-url]="urlRacikan" 
                             (onGetSelectedData)="handleSelectedRacikan($event)"
                             [columns]="GridLookUpItem.columns" 
                             [columnsChild]="GridLookUpItem.columnsChild"
                             [filter-lookup]="GridLookUpItem.filter" 
                             [modal-title]="'Data Racikan Dokter'"
                
                         ></org-look-up-hirarki>
                    </div>
                    <div class="col-lg-12">
                        <!-- Tombol -->
                        <button class="btn btn-primary btn-sm" type="button" [disabled]="FormAddObat.invalid" [hidden]="FormAddObatState != 'input'"
                            (click)="handleAddObat(FormAddObat.value)">
                            <i class="fas fa-plus-circle fa-sm"></i>
                            <span [hidden]="width >= 1023 && width <= 1200 ">&nbsp;Obat</span>
                        </button>
    
                        <button class="btn btn-warning btn-sm" type="button" [disabled]="FormAddObat.invalid" [hidden]="FormAddObatState == 'input'"
                            (click)="onUpdateDataObat(FormAddObat.value)">
                            <i class="fas fa-edit fa-sm"></i>
                            <span [hidden]="width >= 1023 && width <= 1200 ">&nbsp;Edit Obat</span>
                        </button>
                    </div>
                </div>
            
            </div>
            <!-- GRID OBAT -->
            <div class="col-lg-8">
                <div class="card">
                    <!-- <div class="card-header px-2">
                        <p class="mb-0 text-biru-muda">
                            Daftar Obat
                        </p>
                    </div> -->
                    <div class="card-body p-0">
                        <ejs-grid #GridResepRacikan [dataSource]="resepDokterService.dataDetail$ | async"
                            height="calc(100vh - 15rem)" gridLines="Both" rowHeight="30" [childGrid]="ChildGrid" 
                            [toolbar]="GridDaftarObatToolbar" (toolbarClick)="onToolbarClick($event)"
                            (load)="onLoad($event)" (rowDataBound)='rowDataBound($event)' (dataBound)='onDataBound()'
                            (rowSelected)="onRowSelected($event)" (actionComplete)="onActionComplete($event)" [allowTextWrap]="true"
                            [textWrapSettings]="{ wrapMode: 'Both' }">
                            <e-columns>
                                <e-column [visible]="false" field='no_urut' [allowEditing]="false" headerText='no_urut'
                                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='is_racikan' [allowEditing]="false" headerText='is_racikan'
                                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='set_racikan_id' [allowEditing]="false"
                                    headerText='set_racikan_id' editType='defaultEdit' textAlign="left"
                                    headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='id_metode_racikan' [allowEditing]="false"
                                    headerText='id_metode_racikan' editType='defaultEdit' textAlign="left"
                                    headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='id_item' [allowEditing]="false" headerText='id_item'
                                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='id_label_pemakaian_obat' [allowEditing]="false"
                                    headerText='id_label_pemakaian_obat' editType='defaultEdit' textAlign="left"
                                    headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='id_tambahan_aturan_pakai' [allowEditing]="false"
                                    headerText='id_tambahan_aturan_pakai' editType='defaultEdit' textAlign="left"
                                    headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='nama_obat' [allowEditing]="false" headerText='Nama Obat'
                                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='nama_satuan' [allowEditing]="false" headerText='Satuan'
                                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="false" field='metode_racikan' [allowEditing]="false"
                                    headerText='Kemasan Racikan' editType='defaultEdit' textAlign="left"
                                    headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="true" field='rute_pemberian_obat' [allowEditing]="false" headerText='Resep'
                                    editType='defaultEdit' [valueAccessor]='keterangan' textAlign="left" headerTextAlign="center">
                                </e-column>
                                <e-column [visible]="true" field='qty_harian' [allowEditing]="true" headerText='Qty' [width]="220"
                                    editType='defaultEdit' [valueAccessor]='quantity' textAlign="right" headerTextAlign="center" >
                                </e-column>
                                <e-column [visible]="false" field='ket_aturan' [allowEditing]="false" headerText='Aturan'
                                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                                </e-column>
                            </e-columns>
                        </ejs-grid>
                    </div>
                </div>
            </div>
        </div>
    </form>
</org-card-layout>