<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)" [ShowTitle]="ShowTitle">
    <org-tabs #OrgTabsRef (onGetSelectedTabId)="onGetSelectedTabId($event)">
        <!-- Input Resep Tabs -->
        <org-tabs-item>
            <org-tabs-label [Id]="'InputResep'">Input Resep</org-tabs-label>
            <org-tabs-body>
                <app-input-resep (setIdOutlet)="setIdOutlet($event)" (onSetTemplateResep)="onSetTemplateResep()"
                    #inputResepComponent></app-input-resep>
            </org-tabs-body>
        </org-tabs-item>

        <!-- History Resep Tabs -->
        <org-tabs-item>
            <org-tabs-label [Id]="'HistoryResep'">History Resep</org-tabs-label>
            <org-tabs-body>
                <app-history-resep></app-history-resep>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
    <!-- Modal Keterangan Template Resep  -->
    <ng-template #modalTemplateResep>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Simpan Template Resep Dokter</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center;">
                    <h2>Apakah Dokter Ingin Menyimapan Resep Ini Sebagai Template Resep?</h2>
                    <p>Template resep di gunakan untuk membuat resep dengan data resep yg sudah ada</p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="mb-2 row">
                        <div class="col-sm-4">
                            <label for="nama_resep"><strong>Nama Template Resep</strong></label>
                        </div>
                        <div class="col-sm-8">
                            <input type="text" class="form-control form-control-sm" name="nama_resep">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary" (click)="handleClickSimpanTemplateResepDokter()">Simpan
                Template Resep</button>
            <button type="button" class="btn btn-danger" (click)="handleClickAbaikan()">Tidak</button>
        </div>
    </ng-template>
</org-card-layout>