li.list-group-item-title {
  border: 0;
  border-radius: 0;
  color: white;
  transition: all 0.1s;
}

div.div-main-menu-title {
  height: 3rem;
  border-radius: 0 !important;
  align-items: center;
}

div.items-group-title {
  display: flex;
  padding: 5px;
  border-radius: 0px;
  transition: all 0.25s;
}

li.list-group-item-title > div.items-group-title:hover {
  background-color: #f6f4f7 !important;
  color: #00afff !important;
  transition: all 0.25s;
}

li.list-group-item-title > div.items-group-title::after {
  background-color: #f6f4f7 !important;
  color: #00afff !important;
  transition: all 0.25s;
}

li.list-group-item {
  border: 0;
  background-color: transparent;
  color: var(--hitam);
  transition: all 0.1s;
}

div.items-group {
  display: flex;
  padding: 5px;
  transition: all 0.25s;
}

li.list-group-item > div.items-group:hover,
.is-active {
  background-color: var(--biru-muda) !important;
  color: white !important;
  transition: all 0.25s;
}

li.list-group-item > div.items-group::after {
  background-color: var(--biru-muda) !important;
  color: white !important;
  transition: all 0.25s;
}

ul.list-group-child {
  border: 0;
  background-color: transparent;
  color: white;
  transition: all 0.25s;
}

div.items-group-child {
  display: flex;
  padding: 5px;
  transition: all 0.25s;
  font-size: 14px;
}

li.list-group-item > div.items-group-child:hover {
  background-color: var(--biru-muda) !important;
  color: #f6f4f7 !important;
  transition: all 0.25s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.is-hidden {
  display: none;
  animation: fadeOut 400ms ease-in-out both;
}

.is-show {
  display: block;
  animation: fadeIn 400ms ease-in-out both;
}

ul.list-group-child.is-hidden {
  display: none;
  animation: fadeOut 400ms ease-in-out both;
}

.is-selected {
  background-color: #f6f4f7 !important;
  transition: all 0.7s !important;
}

.is-ada-button-sidebar {
  height: calc(100vh - 10rem);
  max-height: calc(100vh - 10rem);
  overflow-y: auto;
}
