<org-card-layout [ButtonNav]="TabId == 'Input' ? ButtonNav : []" (onClickButtonNav)="handleClickButtonNav($event)">
    <org-tabs #OrgTabsRef [showHeader]="false" (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- Data -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Data'">Data Outlet</org-tabs-label>
            <org-tabs-body>
                <mol-grid
                    #GridData
                    [grid-height]="300"
                    [grid-DataSource]="GridDatasource"
                    [grid-paging]="false"
                    [grid-editSettings]="GridDataEditSettings"
                    [grid-lines]="'Both'"
                    [grid-toolbar]="GridDataToolbar"
                    [columns]="GridConfig.GridColumns"
                    (row-selected)="handleSelectedRow($event)"
                    (toolbar-click)="handleToolbarClick($event)"
                    (load-grid)="handleLoadGrid($event)"
                    (initialized)="InitalizedGrid($event)"
                    (command-click)="handleClickCommandGrid($event)"
                    (action-complete)="handleActionComplete($event)"></mol-grid>
            </org-tabs-body>
        </org-tabs-item>
        <!-- Input -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Input'">Input Outlet</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputData" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                            <!-- Dropdown Stockroom -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Stockroom'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-dropdownlist #MaritalStockroomDropdown id="marital"
                                        [dataSource]="setupStockroomService.dataSource| async"
                                        [fields]="MaritalStockroomDropdownField" [allowFiltering]="true"
                                        formControlName="id_stockroom">
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                            <mol-input-text 
                                [label]="'Kode Outlet'" 
                                formControlName="kode_outlet"
                                [IsFormControlInvalid]="kode_outlet.invalid"
                                [ValidatorsCaption]="'Kode Outlet Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState"
                                [disabled]="inputFieldState==='edit'"
                                >
                            </mol-input-text>
                            <mol-input-text 
                                [label]="'Nama Outlet'" 
                                formControlName="nama_outlet"
                                [IsFormControlInvalid]="nama_outlet.invalid"
                                [ValidatorsCaption]="'Nama Outlet Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>
                            <!-- Dropdown Tipe Outlet -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tipe Outlet'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-dropdownlist #MaritalTipeOutletDropdown id="marital"
                                        [dataSource]="setupTipeOutletService.dataSource| async"
                                        [fields]="MaritalTipeOutletDropdownField" [allowFiltering]="true"
                                        formControlName="id_tipe_outlet">
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>