<org-card-layout>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
            <!-- Grid Setup Role -->
            <ejs-contextmenu target="#GridSetupRole" [items]="GridSetupRoleContextMenuItems"
                (select)="onSelectGridContextMenu($event)">
            </ejs-contextmenu>

            <mol-grid #gridSetupRole [grid-id]="'GridSetupRole'" [grid-height]="400" [grid-lines]="'Both'"
                [grid-editSettings]="GridSetupRoleEditSettings" [grid-toolbar]="GridSetupRoleToolbar"
                [columns]="GridSetupRoleColums.GridHeader.columns" [grid-DataSource]="GridSetupRoleDataSource"
                [grid-ContextMenuItems]="GridSetupRoleContextMenuItems" (row-selected)="onSelectedRow($event)">
            </mol-grid>
        </div>
    </div>
</org-card-layout>