<org-card-layout>
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 py-3">
            <form [formGroup]="FormChangePassword">
                <!-- Password Lama -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Password Lama'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="input-group mb-0">
                            <input type="password" class="form-control" id="password_lama" aria-label="password_lama"
                                aria-describedby="see-password" formControlName="password_lama">
                            <span class="input-group-text cursor-pointer" id="password_lama"
                                (click)="onTogglingSeePassword('password_lama')">
                                <i id='password_lamaIcon' class="fas fa-eye fa-sm"></i>
                            </span>
                        </div>

                        <atm-validators [IsFormControlTouched]="password_lama.touched"
                            [IsFormControlInvalid]="password_lama.invalid"
                            [ValidatorsCaption]="'Password Lama Tidak Boleh Kosong'">
                        </atm-validators>
                    </div>
                </div>

                <!-- Password Baru -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Password Baru'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="input-group mb-0">
                            <input type="password" class="form-control" id="password_baru" aria-label="password_baru"
                                aria-describedby="see-password" formControlName="password_baru">
                            <span class="input-group-text cursor-pointer" id="see-password"
                                (click)="onTogglingSeePassword('password_baru')">
                                <i id='password_baruIcon' class="fas fa-eye fa-sm"></i>
                            </span>
                        </div>

                        <atm-validators [IsFormControlTouched]="password_baru.touched"
                            [IsFormControlInvalid]="password_baru.invalid"
                            [ValidatorsCaption]="'Password Baru Tidak Boleh Kosong'">
                        </atm-validators>
                    </div>
                </div>

                <!-- Password Confirmation -->
                <div class="row mb-4">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Konfirmasi Password Baru'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <div class="input-group mb-0">
                            <input type="password" class="form-control" id="confirmation_password"
                                aria-label="confirmation_password" aria-describedby="see-password"
                                formControlName="confirmation">
                            <span class="input-group-text cursor-pointer" id="see-password"
                                (click)="onTogglingSeePassword('confirmation_password')">
                                <i id='confirmation_passwordIcon' class="fas fa-eye fa-sm"></i>
                            </span>
                        </div>

                        <atm-validators [IsFormControlTouched]="confirmation.touched"
                            [IsFormControlInvalid]="confirmation.invalid"
                            [ValidatorsCaption]="'Konfirmasi Password Baru Tidak Boleh Kosong'">
                        </atm-validators>
                    </div>
                </div>

                <!-- Button Simpan -->
                <atm-button-primary [IsButtonBlock]="true" [IsButtonDisabled]="!FormChangePassword.valid"
                    [ButtonPrimaryCaption]="'Ubah Password'" [ButtonPrimaryIcon]="'fa-save'"
                    (onClickButtonPrimary)="onClickButtonSubmit(FormChangePassword.value)">
                </atm-button-primary>

            </form>
        </div>
    </div>
</org-card-layout>