<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)" [ShowTitle]="ShowTitle">
    <router-outlet></router-outlet>

    <section *ngIf="!ShowTitle">
        <app-riwayat-pemeriksaan-lab *ngIf="StateActive == 'riwayat'" [ShowTitle]="ShowTitle">
        </app-riwayat-pemeriksaan-lab>

        <app-input-order-baru-lab *ngIf="StateActive == 'input'" [ShowTitle]="ShowTitle"></app-input-order-baru-lab>
    </section>

    <app-bank-darah #BankDarah></app-bank-darah>
</org-card-layout>