<org-card-layout>
    <div class="row">
        <!-- TreeView Terapi -->
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header ">
                    <div class="row justify-content-between">   
                        <div class="col-md-7 ">
                            <h5 class="m-0">Terapi</h5>
                        </div>
                        <div class="col-auto">
                            <a (click)="handleAddTerapi()">
                            <i  class="fas fa-plus-circle tambah text-primary "></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div id='treeparent'>
                        <ejs-treeview 
                        id='treeelement' 
                        [fields]='field' 
                        e-nodeclick="onClick"
                        [allowMultiSelection]='allowMultiSelection'  
                        (nodeSelected)='nodeSelected($event)'>
                            <ng-template #nodeTemplate="" let-data="">
                                <div>
                                    <div class="ejob">
                                        <a (click)="handleSubTerapi()">
                                        <i *ngIf="data.id_terapi_parent==null"  class="fas fa-plus-circle tambah_terapi text-primary "></i>
                                        </a>
                                        {{data.kode_terapi}} {{data.nama_terapi}}
                                    </div>
                                </div>
                            </ng-template>
                        </ejs-treeview>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tabel Generik -->
        <div class="col-sm-3">
            <div class="card">
                <div class="card-header ">
                    <div class="row justify-content-between">
                        <div class="col-md-7 ">
                            <h5 class="m-0">Generik</h5>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-plus-circle tambah text-primary "></i>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <mol-grid #gridDaftarOrder 
                        [grid-id]="'GridDaftarOrder'"
                        [grid-height]="'calc(100vh - 250px)'" 
                        [grid-lines]="'Both'"
                        [columns]="GridSetting.GridGenerik.columns"
                        [grid-DataSource]="DataSourceGeneric" 
                        (row-selected) = "handleSelectedGeneric($event)"
                    >
                    </mol-grid>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <!-- Tabel Sediaan -->
                <div class="col-sm-12 mb-3">
                    <div class="card">
                        <div class="card-header ">
                            <div class="row justify-content-between">
                                <div class="col-md-7 ">
                                    <h5 class="m-0">Sediaan</h5>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-plus-circle tambah text-primary "></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <mol-grid #gridDaftarOrder 
                                [grid-id]="'GridDaftarOrder'"
                                [grid-height]="'calc((100vh - 350px)/2)'" 
                                [grid-lines]="'Both'"
                                [columns]="GridSetting.GridSediaan.columns"
                                [grid-DataSource]="DataSourceSediaan"
                                [textWrapSettings]="wrapSettings"
                                (row-selected) = "handleSelectedSediaan($event)"
                            >
                            </mol-grid>
                        </div>
                    </div>
                </div>
                <!-- Tabel Item Obat -->
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header ">
                            <div class="row justify-content-between">
                                <div class="col-auto ">
                                    <h5 class="m-0">Nama Dagang</h5>
                                </div>
                                <div class="col-auto">
                                    <i class="fas fa-plus-circle tambah text-primary "></i>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <mol-grid #gridDaftarOrder 
                                [grid-id]="'GridDaftarOrder'"
                                [grid-height]="'calc((100vh - 350px)/2)'" 
                                [grid-lines]="'Both'"
                                [columns]="GridSetting.GridItem.columns"
                                [grid-DataSource]="DataSourceDagang" 
                                [textWrapSettings]="wrapSettings"
                            >
                            </mol-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Tambah Terapi Level  -->
    <ng-template #modalTambahTerapi>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Tambah Terapi</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <form [formGroup]="FormInputDataTerapi" class="p-2">
                        <div class="row mb-2">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                                <mol-input-text [inputFieldState]="'detail'" [label]="'Parent Terapi'" formControlName="parent_terapi"></mol-input-text>
                                <mol-input-text 
                                    [label]="'Kode Terapi'" 
                                    formControlName="kode_terapi"
                                    [IsFormControlInvalid]="kode_terapi.invalid"
                                    [ValidatorsCaption]="'Kode Terapi Tidak Boleh Kosong'"
                                    [inputFieldState]="inputFieldState"
                                    >
                                </mol-input-text> 
                                <mol-input-text [label]="'No Terapi'" formControlName="no_terapi"
                                    [IsFormControlInvalid]="no_terapi.invalid"
                                    [ValidatorsCaption]="'No Terapi Tidak Boleh Kosong'"
                                    [inputFieldState]="inputFieldState">
                                </mol-input-text>
                                <mol-input-text
                                    [label]="'Nama Terapi'" 
                                    formControlName="nama_terapi"
                                    [IsFormControlInvalid]="nama_terapi.invalid"
                                    [ValidatorsCaption]="'Nama Terapi Outlet Tidak Boleh Kosong'"
                                    [inputFieldState]="inputFieldState"
                                    >
                                </mol-input-text>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" (click)="handleSimpanTerapi()" class="btn btn-primary">Simpan Terapi</button>
        </div>
    </ng-template>

    <!-- Modal Tambah Terapi Level  -->
    <ng-template #_modalTambahTerapi>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Add Terapi</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row mb-2">
                        <div class="col-sm-3">
                            <atm-label [LabelCaption]="'Terapi'"></atm-label>
                        </div>
                        <div class="col-sm-6">
                            <ejs-dropdownlist #TerapiDropdown id="terapi" [dataSource]="TerapiDropdownDatasource"
                                [fields]="TerapiDropdownField" [allowFiltering]="true">
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" type="button" (click)="handleSetupTerapi()">Setup Terapi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal Setup Terapi  -->
    <ng-template #_modalSetupTerapi>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Setup Terapi</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <mol-input-text [label] = "'Nama Terapi'"></mol-input-text>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal Terapi  -->
    <ng-template #_modalTambahSubTerapi>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Add Sub Terapi</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="row mb-2">
                        <mol-input-text [label]="'Terapi'"  ></mol-input-text>
                        <div class="col-sm-3">
                            <atm-label [LabelCaption]="'Sub Terapi'"></atm-label>
                        </div>
                        <div class="col-sm-6">
                            <ejs-dropdownlist #TerapiDropdown id="terapi" [dataSource]="TerapiDropdownDatasource"
                                [fields]="TerapiDropdownField" [allowFiltering]="true">
                            </ejs-dropdownlist>
                        </div>
                        <div class="col-sm-3">
                            <button class="btn btn-primary" type="submit">Setup Terapi</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

</org-card-layout>