<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="handleClickButtonNav($event)">
    <!-- Pencarian -->
    <div class="row mb-2">
        <!-- Tanggal -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <atm-label [LabelCaption]="'Tanggal'"></atm-label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <ejs-daterangepicker #DatepickerFilterTanggal [maxDays]="30"></ejs-daterangepicker>
                </div>
            </div>
        </div>

        <!-- Debitur -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <atm-label [LabelCaption]="'Debitur'"></atm-label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <ejs-dropdownlist #DropdownDebitur [dataSource]="DropdownDebiturDatasource"
                        [fields]="DropdownDebiturFields">
                    </ejs-dropdownlist>
                </div>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <!-- Tgl Jatuh Tempo -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <atm-label [LabelCaption]="'Tgl Jatuh Tempo'"></atm-label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <ejs-datepicker [format]="'dd/MM/yyyy'"></ejs-datepicker>
                </div>
            </div>
        </div>

        <!-- Tipe Pasien -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <atm-label [LabelCaption]="'Tipe Pasien'"></atm-label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <ejs-dropdownlist #DropdownTipePasien [dataSource]="DropdownTipePasienDatasource"
                        [fields]="DropdownTipePasienFields">
                    </ejs-dropdownlist>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-45">
            <button type="button" class="btn btn-primary btn-sm">
                <i class="fas fa-search fa-sm"></i>&nbsp; Cari
            </button>
        </div>
    </div>

    <!-- Grid -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card border-0 shadow-sm">
                <div class="card-header p-2 border">
                    <p class="text-biru-muda mb-0">Riwayat Transaksi Billing</p>
                </div>
                <div class="card-body p-0">
                    <ejs-grid #GridData [id]="'GridDataBukaKasir'" [dataSource]="GridDatasource" [rowHeight]="30"
                        [height]="'calc(100vh - 21rem)'" [gridLines]="'Both'" [allowPaging]="false"
                        [allowResizing]="true" [allowFiltering]='true' [toolbar]="GridDataToolbar"
                        (rowDeselected)="handleSelectedRow($event)" (rowSelected)="handleSelectedRow($event)"
                        (rowDataBound)="handleRowDataBound($event)">
                        <e-columns>
                            <e-column [width]="80" [field]="'Checkbox'" [visible]="true" [textAlign]="'Center'"
                                [headerTextAlign]="'Center'" [type]="'Checkbox'">
                            </e-column>
                            <e-column [width]="120" [field]="'no_register'" [headerText]="'NO. REGISTER'"
                                [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                            </e-column>
                            <e-column [width]="120" [field]="'nama_pasien'" [headerText]="'NAMA PASIEN'"
                                [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                            </e-column>
                            <e-column [width]="120" [field]="'tgl_pulang'" [headerText]="'TGL. PULANG'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'" [type]="'DateTime'"
                                [format]="'dd/MM/yyyy HH:mm:ss'">
                            </e-column>
                            <e-column [width]="80" [field]="'tipe'" [headerText]="'TIPE'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                            </e-column>
                            <e-column [width]="150" [field]="'no_invoice'" [headerText]="'NO. INVOICE PIUTANG'"
                                [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                            </e-column>
                            <e-column [width]="200" [field]="'debitur'" [headerText]="'DEBITUR'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                [headerTextAlign]="'Left'">
                            </e-column>
                            <e-column [width]="90" [field]="'total_biaya'" [headerText]="'TOTAL BIAYA'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="120" [field]="'charge_amount'" [headerText]="'TOTAL TAGIHAN'"
                                [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="90" [field]="'restitusi'" [headerText]="'RESTITUSI'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="120" [field]="'tunai'" [headerText]="'TUNAI'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="120" [field]="'deposit'" [headerText]="'UANG MUKA'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="120" [field]="'doc_disc'" [headerText]="'DISKON DOKTER'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="120" [field]="'claim_amount'" [headerText]="'KLAIM'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="120" [field]="'subsidi'" [headerText]="'SUBSIDI'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Right'"
                                [headerTextAlign]="'Right'" [type]="'number'" [format]="'N2'">
                            </e-column>
                            <e-column [width]="100" [field]="'status_billing'" [headerText]="'STATUS'" [visible]="true"
                                [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                            </e-column>
                        </e-columns>
                    </ejs-grid>
                </div>
            </div>
        </div>
    </div>
</org-card-layout>