<section id="page-not-found">
    <div class="row justify-content-center align-items-center px-0 mx-0">
        <!-- Image Page Not Found -->
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-end border-end">
            <img src="../../../assets/image/page-not-found/undraw_page_not_found_su7k.svg" alt="page-not-found"
                class="image-not-found">
        </div>

        <!-- Text Page Not Found -->
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 text-start">
            <div class="mb-2">
                <h1 class="font-roboto fw-bold text-biru-muda">
                    Oops...
                </h1>
            </div>

            <div class="mb-3">
                <h5 class="font-cabin text-abu-tua">
                    Halaman Tidak Ditemukan
                </h5>
            </div>

            <!-- Button Kembali -->
            <atm-button-primary [IsButtonBlock]="false" [ButtonPrimaryCaption]="' Kembali'"
                [ButtonPrimaryIcon]="'fa-undo-alt'" (onClickButtonPrimary)="onClickButtonKembali($event)">
            </atm-button-primary>
        </div>
    </div>
</section>