<div class="card rounded border-left-biru-muda shadow-sm cursor-pointer card-hover" id="{{ IdMenu }}">
    <div class="card-body py-4">
        <div class="row">
            <!-- Icon atau Gambar -->
            <div class="col-2 text-center px-0 mb-1">
                <h5 class="mb-0" style="color: #9f9f9f">
                    <i class="fas {{ IconMenu }} fa-lg"></i>
                </h5>
            </div>
            <!-- Nama Menu -->
            <div class="col-10 px-0">
                <h5 class="font-cabin mb-0" style="color: #00afff">
                    {{ NamaMenu }}
                </h5>
            </div>
        </div>
    </div>
</div>