<org-card-layout>
    <div class="row mb-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row px-0 mx-0">
                <!-- Dropdown Jenis Penunjang -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <atm-label [LabelCaption]="'Jenis Penunjang'"></atm-label>
                    <ejs-dropdownlist [cssClass]="'mt-2'"
                        [dataSource]="setupMappingOrderTarifPenunjangService.JenisPenunjang.value"
                        [fields]="DropdownJenisPenunjangField" [allowFiltering]="true"
                        (change)="handleChangeDropdownJenisPenunjang($event)">
                    </ejs-dropdownlist>
                </div>

                <!-- Listing Order -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card shadow-sm">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <p class="mb-0 text-biru-muda">
                                        Jenis Penunjang {{ SelectedJenisPenunjang.nama_grup_penunjang | titlecase }}
                                    </p>
                                </div>

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-end">
                                    <span class="badge bg-primary fw-light cursor-pointer"
                                        (click)="handleOpenModalAddChild(SelectedJenisPenunjang)">
                                        <i class="fas fa-plus fa-sm"></i>&nbsp; Add Child
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-2" style="height: calc(100vh - 18rem); overflow-y: auto;">
                            <ejs-treeview [id]="'GridTreeOrder'" [fields]="ListingOrderFields" e-nodeclick="onClick"
                                [allowMultiSelection]='false' [allowDragAndDrop]="false"
                                (nodeSelected)="handleSelectedKelompokOrder($event)">
                                <ng-template #nodeTemplate="" let-data="">
                                    <div id="{{ data.kode_kelompok + 'tree' }}">
                                        <div class="treeviewdiv">
                                            <div class="poli-text">
                                                <p
                                                    class="mb-0 {{ data.child?.length > 0 ? 'poli-parent' : 'poli-child' }}">
                                                    {{ data.kode_kelompok }} - {{ data.nama_kelompok }}
                                                </p>
                                            </div>
                                        </div>

                                        <ejs-contextmenu [target]="'#' + data.kode_kelompok + 'tree'"
                                            [items]='MenuItems' (beforeOpen)="handleBeforeOpenContextMenu($event, data)"
                                            (select)="handleClickContextMenu($event, data)">
                                        </ejs-contextmenu>
                                    </div>
                                </ng-template>
                            </ejs-treeview>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ps-0">
            <div class="card">
                <div class="card-header px-2">
                    <p class="mb-0 text-biru-muda">
                        Daftar Tarif Penunjang Kelompok {{ SelectedChild.nama_kelompok_tarif | titlecase }}
                    </p>
                </div>
                <div class="card-body p-2">
                    <!-- Informasi Data Poli -->
                    <div class="row px-0 mx-0 mb-2">
                        <!-- Nama Kelompok -->
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-1">
                            <label for="kode_poliklinik" class="form-label mb-1">Nama Kelompok</label>
                            <input id="nama_kelompok_terpilih" type="text" class="form-control form-select-sm" readonly>
                        </div>


                        <!-- Dropdown Kelas -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-1">
                            <label for="kelas_perawatan" class="form-label mb-1">Kelas</label>

                            <ejs-dropdownlist id="kelas_perawatan" #KelasPerawatanDropdown
                                [dataSource]="DropdownKelasDatasource" [fields]="DropdownKelasFields"
                                [allowFiltering]="true" [showClearButton]="true"
                                (change)="handleChangeDropdownKelas($event)">
                            </ejs-dropdownlist>
                        </div>
                    </div>

                    <!-- Grid Data Poli -->
                    <div class="row px-0 mx-0 mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
                            <ejs-grid #GridData [id]="'GridTarifBerlakuPoli'" [height]="'calc(100vh - 27rem)'"
                                [dataSource]="GridDatasource" [rowHeight]="30" [gridLines]="'Both'" [allowPaging]="true"
                                [pageSettings]="GridPageSettings" [toolbar]="GridDataToolbar" [allowResizing]="true"
                                [allowFiltering]='true' [editSettings]="GridDataEditSettings"
                                (rowSelected)="handleSelectedRow($event)" (toolbarClick)="handleToolbarClick($event)"
                                (actionComplete)="handleActionComplete($event)">
                                <e-columns>
                                    <e-column [width]="50" [visible]="true" [type]="'Checkbox'" [allowEditing]="false"
                                        [allowSorting]="false" [textAlign]="'Center'" [headerTextAlign]="'Center'">
                                    </e-column>
                                    <e-column [width]="50" [field]="'id_mapping_tarif_penunjang'" [headerText]="'ID'"
                                        [visible]="false" [type]="'number'" [allowEditing]="false"
                                        [allowSorting]="false" [format]="'N'" [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="50" [field]="'id_setup_tarif'" [headerText]="'ID'"
                                        [visible]="false" [type]="'number'" [allowEditing]="false"
                                        [allowSorting]="false" [format]="'N'" [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'kode_setup_tarif'" [headerText]="'KODE TARIF'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="200" [field]="'nama_tindakan_penunjang'"
                                        [headerText]="'NAMA TARIF'" [visible]="true" [allowEditing]="true"
                                        [allowSorting]="false" [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="80" [field]="'is_ada_left_right'" [headerText]="'L/R'"
                                        [visible]="true" [allowEditing]="true" [allowSorting]="false"
                                        [editType]="'booleanedit'" [type]="'boolean'" [headerTextAlign]="'Center'"
                                        [textAlign]="'Center'" [displayAsCheckBox]="true">
                                    </e-column>
                                    <e-column [width]="80" [field]="'is_ada_polos_kontras'" [headerText]="'P/K'"
                                        [visible]="true" [allowEditing]="true" [allowSorting]="false"
                                        [editType]="'booleanedit'" [type]="'boolean'" [headerTextAlign]="'Center'"
                                        [textAlign]="'Center'" [displayAsCheckBox]="true">
                                    </e-column>
                                    <e-column [width]="80" [field]="'nominal_tarif'" [headerText]="'NILAI'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'Number'"
                                        [format]="'N2'">
                                    </e-column>
                                </e-columns>
                            </ejs-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Add Child  -->
        <ng-template #modalAddChild>
            <div class="modal-header px-2 py-1">
                <h5 class="modal-title pull-left">
                    {{ FormAddChildState == 'Insert' ? 'Add' : 'Edit' }} Kelompok
                    {{ SelectedChild.nama_grup_penunjang ? (SelectedChild.nama_grup_penunjang | titlecase) :
                    SelectedChild.nama_kelompok | titlecase }}
                </h5>
                <button type="button" class="btn pull-right" aria-label="Close" (click)="handleCloseModalAddChild()">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body p-3">
                <form [formGroup]="FormAddChild">
                    <mol-input-text [label]="'Kode Kelompok'" formControlName="kode_kelompok"
                        [inputFieldState]="FormAddChildState == 'Edit' ? 'detail' : 'normal'">
                    </mol-input-text>

                    <mol-input-text [label]="'Nama Kelompok'" formControlName="nama_kelompok">
                    </mol-input-text>
                </form>
            </div>
            <div class="modal-footer background-abu-muda p-2">
                <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="handleCloseModalAddChild()">
                    <i class="fas fa-times fa-sm"></i>&nbsp; Tutup
                </button>
                <button *ngIf="FormAddChildState == 'Insert'" type="button" class="btn btn-primary btn-sm"
                    (click)="handleSubmitAddChild(FormAddChild.value)">
                    <i class="fas fa-save fa-sm"></i>&nbsp; Simpan
                </button>
                <button *ngIf="FormAddChildState == 'Edit'" type="button" class="btn btn-warning btn-sm"
                    (click)="handleUpdateAddChild(FormAddChild.value)">
                    <i class="fas fa-save fa-sm"></i>&nbsp; Update
                </button>
            </div>
        </ng-template>

        <!-- Modal Lookup Tarif  -->
        <org-look-up-checklist #LookupChecklist [LookupTitle]="TitleLookupTarifBerlaku"
            [LookupUrl]="UrlLookupTarifBerlaku" [LookupFilters]="GridConfig.LookupTarif.filter"
            [GridId]="'LookupChecklistTarifBerlaku'" [GridColumns]="GridConfig.LookupTarif.columns"
            [ParameterTambahan]="ParameterLookupTarifBerlaku" (OnGetSelectedRecords)="handleSelectedRecordItem($event)">
        </org-look-up-checklist>
    </div>
</org-card-layout>