<org-card-layout>
    <div class="row mb-2">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="row px-0 mx-0">
                <!-- Dropdown Jenis Penunjang -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <atm-label [LabelCaption]="'Jenis Penunjang'"></atm-label>
                    <ejs-dropdownlist [cssClass]="'mt-2'"
                        [dataSource]="setupMappingOrderTarifPenunjangService.JenisPenunjang.value"
                        [fields]="DropdownJenisPenunjangField" [allowFiltering]="true"
                        (change)="handleChangeDropdownJenisPenunjang($event)">
                    </ejs-dropdownlist>
                </div>

                <!-- Listing Order -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card shadow-sm">
                        <div class="card-body p-2" style="height: calc(100vh - 15.5rem); overflow-y: auto;">
                            <ejs-treeview [id]="'GridTreeOrder'" [fields]="ListingOrderFields" e-nodeclick="onClick"
                                [allowMultiSelection]='false' [allowDragAndDrop]="false"
                                (nodeSelected)="handleSelectedKelompokOrder($event)">
                                <ng-template #nodeTemplate="" let-data="">
                                    <div id="{{ data.id + 'tree' }}">
                                        <div class="treeviewdiv">
                                            <div class="poli-text">
                                                <p
                                                    class="mb-0 {{ data.child?.length > 0 ? 'poli-parent' : 'poli-child' }}">
                                                    {{ data.nama_kelompok_tarif }}
                                                </p>
                                            </div>
                                        </div>

                                        <ejs-contextmenu id="" [target]="'#' + data.id + 'tree'" [items]='MenuItems'
                                            (beforeOpen)="handleBeforeOpenContextMenu($event, data)"
                                            (select)="handleClickContextMenu($event, data)">
                                        </ejs-contextmenu>
                                    </div>
                                </ng-template>
                            </ejs-treeview>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ps-0">
            <div class="card">
                <div class="card-header px-2">
                    <p class="mb-0 text-biru-muda">
                        Daftar Tarif Penunjang Kelompok {{ SelectedChild.nama_kelompok_tarif | titlecase }}
                    </p>
                </div>
                <div class="card-body p-2">
                    <!-- Informasi Data Poli -->
                    <div class="row px-0 mx-0 mb-2">
                        <!-- Nama Kelompok -->
                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-1">
                            <label for="kode_poliklinik" class="form-label mb-1">Nama Kelompok</label>
                            <input id="kode_poliklinik" type="text" class="form-control form-select-sm" readonly>
                        </div>


                        <!-- Dropdown Kelas -->
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-1">
                            <label for="kelas_perawatan" class="form-label mb-1">Kelas</label>

                            <ejs-dropdownlist id="kelas_perawatan" #KelasPerawatanDropdown
                                [dataSource]="DropdownKelasDatasource" [fields]="DropdownKelasFields"
                                [allowFiltering]="true" [showClearButton]="true"
                                (change)="handleChangeDropdownKelas($event)">
                            </ejs-dropdownlist>
                        </div>
                    </div>

                    <!-- Grid Data Poli -->
                    <div class="row px-0 mx-0 mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
                            <ejs-grid #GridData [id]="'GridTarifBerlakuPoli'" [height]="'calc(100vh - 27rem)'"
                                [dataSource]="GridDatasource" [rowHeight]="30" [gridLines]="'Both'" [allowPaging]="true"
                                [pageSettings]="GridPageSettings" [toolbar]="GridDataToolbar" [allowResizing]="true"
                                [allowFiltering]='true' [editSettings]="GridDataEditSettings"
                                (rowSelected)="handleSelectedRow($event)" (toolbarClick)="handleToolbarClick($event)"
                                (actionComplete)="handleActionComplete($event)">
                                <e-columns>
                                    <e-column [width]="50" [field]="'Checkbox'" [visible]="true" [type]="'Checkbox'"
                                        [allowEditing]="false" [allowSorting]="false" [textAlign]="'Center'"
                                        [headerTextAlign]="'Center'">
                                    </e-column>
                                    <e-column [width]="50" [field]="'id_setup_tarif'" [headerText]="'ID'"
                                        [visible]="false" [type]="'number'" [allowEditing]="false"
                                        [allowSorting]="false" [format]="'N'" [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="100" [field]="'kode_setup_tarif'" [headerText]="'KODE TARIF'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="200" [field]="'nama_setup_tarif'" [headerText]="'NAMA TARIF'"
                                        [visible]="true" [allowEditing]="true" [allowSorting]="false"
                                        [textAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="80" [field]="'nama_kelas'" [headerText]="'KELAS'"
                                        [visible]="false" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Left'" [headerTextAlign]="'Left'">
                                    </e-column>
                                    <e-column [width]="80" [field]="'nominal_tarif'" [headerText]="'NILAI'"
                                        [visible]="true" [allowEditing]="false" [allowSorting]="false"
                                        [textAlign]="'Right'" [headerTextAlign]="'Right'" [type]="'number'"
                                        [format]="'N2'">
                                    </e-column>
                                    <e-column field='is_active' [headerText]="'STATUS'" [width]='70'
                                        [textAlign]="'Center'" [visible]="false">
                                        <ng-template #template let-data>
                                            <div *ngIf="data.is_active === true; else inactive"
                                                class="statustemp e-activecolor">
                                                <span class="statustxt e-activecolor">
                                                    {{ data.is_active ? 'AKTIF' : 'NON AKTIF' }}
                                                </span>
                                            </div>
                                            <ng-template #inactive>
                                                <div class="statustemp e-inactivecolor">
                                                    <span class="statustxt e-inactivecolor">
                                                        {{ data.is_active ? 'AKTIF' : 'NON AKTIF' }}
                                                    </span>
                                                </div>
                                            </ng-template>
                                        </ng-template>
                                    </e-column>
                                </e-columns>
                            </ejs-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Add Child  -->
        <ng-template #modalAddChild>
            <div class="modal-header px-2 py-1">
                <h5 class="modal-title pull-left">
                    {{ FormAddChildState == 'Insert' ? 'Add' : 'Edit' }} Kelompok
                    {{ SelectedChild.nama_kelompok_tarif | titlecase }}
                </h5>
                <button type="button" class="btn pull-right" aria-label="Close" (click)="handleCloseModalAddChild()">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body p-2">
                <form [formGroup]="FormAddChild">
                    <mol-input-text [label]="'Kode Kelompok'" formControlName="kode_kelompok_tarif">
                    </mol-input-text>

                    <mol-input-text [label]="'Nama Kelompok'" formControlName="nama_kelompok_tarif">
                    </mol-input-text>
                </form>
            </div>
            <div class="modal-footer background-abu-muda p-2">
                <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="handleCloseModalAddChild()">
                    <i class="fas fa-times fa-sm"></i>&nbsp; Tutup
                </button>
                <button *ngIf="FormAddChildState == 'Insert'" type="button" class="btn btn-primary btn-sm"
                    (click)="handleSubmitAddChild(FormAddChild.value)">
                    <i class="fas fa-save fa-sm"></i>&nbsp; Simpan
                </button>
                <button *ngIf="FormAddChildState == 'Edit'" type="button" class="btn btn-warning btn-sm"
                    (click)="handleUpdateAddChild(FormAddChild.value)">
                    <i class="fas fa-save fa-sm"></i>&nbsp; Update
                </button>
            </div>
        </ng-template>

        <!-- Modal Lookup Tarif  -->
        <ng-template #modalAddLookupTarif>
            <div class="modal-header px-2 py-1">
                <h5 class="modal-title pull-left">
                    Data Tarif
                </h5>
                <button type="button" class="btn pull-right" aria-label="Close" (click)="handleCloseModalLookupTarif()">
                    <i class="fas fa-window-close"></i>
                </button>
            </div>
            <div class="modal-body p-2">
                <div class="row mx-0 my-1 align-items-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="card-title mb-1">Cari :</h5>
                    </div>
                </div>

                <div class="row mx-0 my-1 align-items-center">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioFilterLookupTarif"
                                id="filter_kode_tarif" value="kode_tarif"
                                (click)="handleChangeFilterLookupTarif('st.kode_setup_tarif')">
                            <label class="form-check-label" for="filter_kode_tarif">
                                Kode Tarif
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioFilterLookupTarif"
                                id="filter_nama_tarif" value="nama_tarif"
                                (click)="handleChangeFilterLookupTarif('st.nama_setup_tarif')">
                            <label class="form-check-label" for="filter_nama_tarif">
                                Nama Tarif
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row mx-0 my-2">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <input type="text" #searchValueId class="form-control" id="searchValueId"
                            (keydown.enter)="onSearchLookup(searchValueId.value)" />
                    </div>
                </div>

                <div class="row mx-0 my-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mol-grid #GridLookupTarif [grid-height]="270" [grid-DataSource]="GridLookupTarifDatasource"
                            [grid-paging]="true" [gridInitialPage]="GridLookupTarifPageSettings" [grid-lines]="'Both'"
                            [columns]="GridConfig.LookupTarif.columns"
                            (initialized)="InitalizedGridLookupTarif($event)">
                        </mol-grid>
                    </div>
                </div>
            </div>
            <div class="modal-footer background-abu-muda p-2">
                <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="handleCloseModalLookupTarif()">
                    <i class="fas fa-times fa-sm"></i>&nbsp; Tutup
                </button>
                <button type="button" class="btn btn-primary btn-sm" (click)="handleSubmitLookupTarif()">
                    <i class="fas fa-save fa-sm"></i>&nbsp; Simpan
                </button>
            </div>
        </ng-template>
    </div>
</org-card-layout>