<org-card-layout>
    <div class="row">
        <div class="col-sm-6">
            <h6>Detail Obat</h6>
            <form [formGroup]="FormInputData" class="p-2">
                <mol-input-text [label]="'Kode Obat'" formControlName="kode_obat" [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Nama Obat'" formControlName="nama_obat" [inputFieldState]="'detail'"></mol-input-text>
                <org-input-look-up-kode #LookupKodeGrupItem [lookup-url]="urlGrupItem" [idKode]="'id_grup_item'" [modal-title]="'Data GrupItem'"
                    [idTitle]="'grup_item'" (onGetSelectedData)="heandleSelectedGrupItem($event)"
                    [columns]="LookupGridGrupItem.columns" [filter-lookup]="LookupGridGrupItem.filter"
                    [label]="'Grup'">
                </org-input-look-up-kode>
                <org-input-look-up-kode #LookupKodePabrik [lookup-url]="urlPabrik" [idKode]="'id_pabrik'" [modal-title]="'Data Pabrik'"
                    [idTitle]="'pabrik'" (onGetSelectedData)="heandleSelectedPabrik($event)"
                    [columns]="LookupGridPabrik.columns" [filter-lookup]="LookupGridPabrik.filter"
                    [label]="'Pabrik'">
                </org-input-look-up-kode>
                <org-input-look-up-kode #LookupKodeCaraPakai [lookup-url]="urlCaraPakai" [idKode]="'id_cara_pakai'" [modal-title]="'Data CaraPakai'"
                    [idTitle]="'cara_pakai'" (onGetSelectedData)="heandleSelectedCaraPakai($event)"
                    [columns]="LookupGridCaraPakai.columns" [filter-lookup]="LookupGridCaraPakai.filter"
                    [label]="'Cara Pakai'">
                </org-input-look-up-kode>
                <button type="button" class="btn btn-sm btn-primary float-end">Update Obat</button><br/>
            </form>
            <hr class="my-1"/>
            <h6>Setting Harga Jual</h6>
            <form [formGroup]="FormInputSetting" class="p-2">
                <div class="row">
                    <div class="col-sm-6">
                        <mol-input-numeric [label]="'HNA in UOM'" formControlName="harga_beli_terakhir" [inputFieldState]="'detail'"></mol-input-numeric>
                        <mol-input-numeric [label]="'Profit (%)'" formControlName="profit" ></mol-input-numeric>
                        <mol-datepicker-syncfusion [label]="'Tgl. Berlaku'" [format]="'dd MMMM yyyy'"
                            formControlName="tanggal_berlaku">
                        </mol-datepicker-syncfusion>    
                    </div>
                    <div class="col-sm-6">
                        <mol-input-numeric [label]="'Pajak (%)'" formControlName="pajak" [inputFieldState]="'detail'"></mol-input-numeric>
                        <mol-input-numeric [label]="'Harga Jual'" formControlName="harga_jual" [inputFieldState]="'detail'"></mol-input-numeric>
                        <button type="button" class="btn btn-sm btn-primary float-end">Simpan Harga Jual</button><br/>
                    </div>
                </div>
            </form>
            <mol-grid
                #GridDataDetail
                [grid-DataSource]="dataSourceDetail"
                [grid-paging]="false"
                [grid-lines]="'Both'"
                [columns]="GridConfig.GridColumns"
            ></mol-grid>
        </div>
        <div class="col-sm-6">
            <mol-input-group [label]="'cari data obat'" [titleValue]="''" (pressEnter)="getDataItem($event)" (clickButton)="getDataItem($event)" ></mol-input-group>
            <mol-grid
                #GridDataItem
                [grid-DataSource]="dataSourceItem"
                [grid-paging]="false"
                [grid-lines]="'Both'"
                [columns]="GridConfigItem.GridColumns"
                (double-click)="getDetail($event)"
            ></mol-grid>
        </div>
    </div>
</org-card-layout>