<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="FormInputDokter">
        <ng-wizard [config]="config" (stepChanged)="stepChanged($event)">
            <ng-wizard-step [title]="'No. Identitas'" [canExit]="PersonFound">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="mb-0 text-hitam-muda">Cek No. Identitas</h5>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" formGroupName="person">
                        <!-- Kewarganegaraan -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Kewarganegaraan *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-2">
                                <div class="form-check form-check-inline">
                                    <input #RadioButtonWni class="form-check-input form-select-sm" type="radio"
                                        name="radioKewarganegaraan" id="radioKewarganegaraanIndo" value="Indonesia"
                                        (change)="handleChangeRadioButtonKewarganegaraan('wni')">
                                    <label class="form-check-label" for="radioKewarganegaraanIndo">WNI</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input #RadioButtonWna class="form-check-input" type="radio"
                                        name="radioKewarganegaraan" id="radioKewarganegaraanAsing" value="Asing"
                                        (change)="handleChangeRadioButtonKewarganegaraan('wna')">
                                    <label class="form-check-label" for="radioKewarganegaraanAsing">WNA</label>
                                </div>
                            </div>
                        </div>

                        <!-- Jenis Identitas -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Jenis Identitas *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #DropdownWni *ngIf="RadioButtonWni.checked"
                                    id="id_jenis_identitas_wni"
                                    [dataSource]="JenisIdentitasDropdownWniDatasource | async"
                                    [fields]="JenisIdentitasDropdownField" [allowFiltering]="true"
                                    (change)="handleDropdownJenisIdentitasChange($event)">
                                </ejs-dropdownlist>

                                <ejs-dropdownlist #DropdownWna *ngIf="RadioButtonWna.checked"
                                    id="id_jenis_identitas_wna"
                                    [dataSource]="JenisIdentitasDropdownWnaDatasource | async"
                                    [fields]="JenisIdentitasDropdownField" [allowFiltering]="true"
                                    (change)="handleDropdownJenisIdentitasChange($event)">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- No. Identitas -->
                        <mol-input-text [label]="'No Identitas *'" formControlName="no_identitas"
                            (keyup.enter)="handleCheckPersonByNoIdentitas(no_identitas.value)"
                            [IsFormControlInvalid]="no_identitas.invalid"
                            [ValidatorsCaption]="'No Identitas Tidak Boleh Kosong'">
                        </mol-input-text>
                    </div>
                </div>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Detail Person'">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="mb-0 text-hitam-muda">Detail Person</h5>
                    </div>
                </div>

                <div class="row pt-2" formGroupName="person">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <!-- No Kartu Keluarga -->
                        <mol-input-text [label]="'No. Kartu Keluarga'" formControlName="no_kartu_keluarga">
                        </mol-input-text>

                        <!-- Nama Depan -->
                        <mol-input-text [label]="'Nama Depan *'" formControlName="nama_depan"
                            [IsFormControlInvalid]="nama_depan.invalid"
                            [ValidatorsCaption]="'Nama Depan Tidak Boleh Kosong'">
                        </mol-input-text>

                        <!-- Nama Belakang -->
                        <mol-input-text [label]="'Nama Belakang'" formControlName="nama_belakang"></mol-input-text>

                        <!-- Nama Panggilan -->
                        <mol-input-text [label]="'Nama Panggilan'" formControlName="nama_panggilan"></mol-input-text>

                        <!-- Gelar Depan -->
                        <mol-input-text [label]="'Gelar depan'" formControlName="gelar_depan"></mol-input-text>

                        <!-- Gelar Belakang -->
                        <mol-input-text [label]="'Gelar belakang'" formControlName="gelar_belakang"></mol-input-text>

                        <!-- Gender -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Gender *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #GenderDropdown id="gender" [dataSource]="GenderDropdownDatasource"
                                    [fields]="GenderDropdownField" [allowFiltering]="true" formControlName="gender">
                                </ejs-dropdownlist>

                                <atm-validators [IsFormControlTouched]="gender.touched"
                                    [IsFormControlInvalid]="gender.invalid"
                                    [ValidatorsCaption]="'Gender Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>
                        </div>

                        <!-- Golongan Darah -->
                        <mol-input-text [label]="'Gol Darah *'" formControlName="gol_darah"
                            [IsFormControlInvalid]="gol_darah.invalid"
                            [ValidatorsCaption]="'Golongan Darah Tidak Boleh Kosong'">
                        </mol-input-text>

                        <!-- Tempat Lahir -->
                        <mol-input-text [label]="'Tempat Lahir'" formControlName="tempat_lahir"></mol-input-text>

                        <!-- Tanggal Lahir -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Tanggal Lahir *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-datepicker [format]="'dd/MM/yyyy'" formControlName="tanggal_lahir">
                                </ejs-datepicker>

                                <atm-validators [IsFormControlTouched]="tanggal_lahir.touched"
                                    [IsFormControlInvalid]="tanggal_lahir.invalid"
                                    [ValidatorsCaption]="'Tanggal Lahir Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <!-- Tinggi Badan -->
                        <mol-input-text [label]="'Tinggi Badan'" formControlName="tinggi_badan_cm"></mol-input-text>

                        <!-- Berat Badan -->
                        <mol-input-text [label]="'Berat Badan'" formControlName="berat_badan_kg"></mol-input-text>

                        <!-- Marital Status -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Status Pernikahan'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #MaritalStatusDropdown id="marital"
                                    [dataSource]="MaritalStatusDropdownDatasource | async"
                                    [fields]="MaritalStatusDropdownField" [allowFiltering]="true"
                                    formControlName="id_marital_status">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Agama -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Agama'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #AgamaDropdown id="agama"
                                    [dataSource]="AgamaDropdownDatasource | async" [fields]="AgamaDropdownField"
                                    [allowFiltering]="true" formControlName="id_agama">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Kebangsaan -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Kebangsaan'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #KebangsaanDropdown id="kebangsaan"
                                    [dataSource]="KebangsaanDropdownDatasource | async"
                                    [fields]="KebangsaanDropdownField" [allowFiltering]="true"
                                    formControlName="id_kebangsaan">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Etnis -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Etnis'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #EtnisDropdown id="id_etnis"
                                    [dataSource]="EtnisDropdownDatasource | async" [fields]="EtnisDropdownField"
                                    [allowFiltering]="true" formControlName="id_etnis">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Bahasa -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Bahasa'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #BahasaDropdown id="id_bahasa"
                                    [dataSource]="BahasaDropdownDatasource | async" [fields]="BahasaDropdownField"
                                    [allowFiltering]="true" formControlName="id_bahasa">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Education -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Pendidikan Terakhir'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #EducationDropdown id="id_last_education"
                                    [dataSource]="EducationDropdownDatasource | async" [fields]="EducationDropdownField"
                                    [allowFiltering]="true" formControlName="id_last_education">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Job Type -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Tipe Pekerjaan'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #JobTypeDropdown id="id_job_type"
                                    [dataSource]="JobTypeDropdownDatasource | async" [fields]="JobTypeDropdownField"
                                    [allowFiltering]="true" formControlName="id_job_type">
                                </ejs-dropdownlist>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Alamat'">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 class="mb-0 text-hitam-muda">Detail Alamat</h5>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                        <div class="row justify-content-end">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-end">
                                <button class="btn btn-primary btn-sm" type="button"
                                    (click)="handleClickTambahFormArray('Alamat')">
                                    <i class="fas fa-plus-circle fa-sm"></i> Tambah Alamat
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-start">
                                <button class="btn btn-warning btn-sm" type="button"
                                    [disabled]="this.FormAlamats.length == 1"
                                    (click)="handleClickHapusFormArray('Alamat')">
                                    <i class="fas fa-trash-alt fa-sm"></i> Hapus Alamat
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Input Alamat -->
                <div class="row pt-2" formArrayName="alamat_person">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-3"
                        *ngFor="let item of FormInputDokter.get('alamat_person')['controls']; let i = index"
                        [formGroupName]="i">

                        <!-- Alamat Lengkap -->
                        <mol-input-textarea [label]="'Alamat Lengkap *'" formControlName="alamat_lengkap"
                            [IsFormControlInvalid]="item.get('alamat_lengkap').invalid"
                            [ValidatorsCaption]="'Alamat Lengkap Tidak Boleh Kosong'">
                        </mol-input-textarea>

                        <!-- Provinsi -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Provinsi'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #ProvinsiDropdown id="provinsi"
                                    [dataSource]="ProvinsiDropdownDataSource | async"
                                    [fields]="SetupWilayahDropdownField" [allowFiltering]="true"
                                    (change)="handleDropdownProvinsiChange(ProvinsiDropdown.value)">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Kota -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Kota'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #KotaDropdown id="kota" [dataSource]="KotaDropdownDataSource | async"
                                    [fields]="SetupWilayahDropdownField" [allowFiltering]="true"
                                    (change)="handleDropdownKotaChange(KotaDropdown.value)">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Kecamatan -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Kecamatan *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #KecamatanDropdown id="kecamatan"
                                    [dataSource]="KecamatanDropdownDataSource | async"
                                    [fields]="SetupWilayahDropdownField" [allowFiltering]="true"
                                    formControlName="kode_wilayah">
                                </ejs-dropdownlist>

                                <atm-validators [IsFormControlTouched]="item.get('kode_wilayah').touched"
                                    [IsFormControlInvalid]="item.get('kode_wilayah').invalid"
                                    [ValidatorsCaption]="'Kecamatan Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>
                        </div>

                        <!-- Kelurahan -->
                        <mol-input-text [label]="'Kelurahan'" formControlName="kelurahan"></mol-input-text>

                        <!-- Kode Pos -->
                        <mol-input-text [label]="'Kode Pos'" formControlName="kode_pos"></mol-input-text>

                        <!-- RT / RW -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'RT / RW'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control" name="RT" formControlName="rt">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <input type="text" class="form-control" name="RW" formControlName="rw">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Kontak Person'">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 class="mb-0 text-hitam-muda">Detail Kontak Person</h5>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                        <div class="row justify-content-end">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-end">
                                <button class="btn btn-primary btn-sm" type="button"
                                    (click)="handleClickTambahFormArray('Kontak')">
                                    <i class="fas fa-plus-circle fa-sm"></i> Tambah Kontak
                                </button>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 text-start">
                                <button class="btn btn-warning btn-sm" type="button"
                                    [disabled]="this.FormKontaks.length == 1"
                                    (click)="handleClickHapusFormArray('Kontak')">
                                    <i class="fas fa-trash-alt fa-sm"></i> Hapus Kontak
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Input Kontak Person -->
                <div class="row pt-2" formArrayName="kontak_person">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-3"
                        *ngFor="let item of FormInputDokter.get('kontak_person')['controls']; let i = index"
                        [formGroupName]="i">

                        <!-- No. Handphone -->
                        <mol-input-text [label]="'No. Handphone *'" formControlName="hand_phone"
                            [IsFormControlInvalid]="item.get('hand_phone').invalid"
                            [ValidatorsCaption]="'No. Handphone Tidak Boleh Kosong'">
                        </mol-input-text>

                        <!-- No. Telepon Rumah -->
                        <mol-input-text [label]="'No. Telepon Rumah *'" formControlName="home_phone"
                            [IsFormControlInvalid]="item.get('home_phone').invalid"
                            [ValidatorsCaption]="'No. Telepon Rumah Tidak Boleh Kosong'">
                        </mol-input-text>

                        <!-- No. Telepon Kantor -->
                        <mol-input-text [label]="'No. Telepon Kantor *'" formControlName="office_phone"
                            [IsFormControlInvalid]="item.get('office_phone').invalid"
                            [ValidatorsCaption]="'No. Telepon Kantor Tidak Boleh Kosong'">
                        </mol-input-text>

                        <!-- Email -->
                        <mol-input-text [label]="'Email'" formControlName="email"></mol-input-text>

                        <!-- Keterangan -->
                        <mol-input-textarea [label]="'Keterangan'" formControlName="keterangan"></mol-input-textarea>
                    </div>
                </div>
            </ng-wizard-step>

            <ng-wizard-step [title]="'Detail Dokter'">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <h5 class="mb-0 text-hitam-muda">Detail Dokter</h5>
                    </div>
                </div>

                <div class="row pt-2" formGroupName="dokter">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                        <!-- Spesialisasi Dokter -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Spesialisasi Dokter *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #SpesialisasiDokter id="spesialisasiDokter"
                                    [dataSource]="SpesialisasiDokterDropdownDataSource | async"
                                    [fields]="SpesialisasiDokterDropdownField" [allowFiltering]="true"
                                    formControlName="id_spesialisasi_dokter">
                                </ejs-dropdownlist>

                                <atm-validators [IsFormControlTouched]="id_spesialisasi_dokter.touched"
                                    [IsFormControlInvalid]="id_spesialisasi_dokter.invalid"
                                    [ValidatorsCaption]="'Spesialisasi Dokter Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>
                        </div>

                        <!-- No Surat Ijin Praktek -->
                        <mol-input-text [label]="'No. Surat Ijin Praktek'" formControlName="no_surat_ijin_praktek">
                        </mol-input-text>

                        <!-- Tgl Exp Surat Ijin Praktek -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Tgl Exp Surat Ijin Praktek *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-datepicker id="tglExpiredSuratIjinPraktek" format="dd/MM/yyyy"
                                    formControlName="tgl_exp_surat_ijin_praktek">
                                </ejs-datepicker>

                                <atm-validators [IsFormControlTouched]="tgl_exp_surat_ijin_praktek.touched"
                                    [IsFormControlInvalid]="tgl_exp_surat_ijin_praktek.invalid"
                                    [ValidatorsCaption]="'Tgl Exp Surat Ijin Praktek Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>
                        </div>

                        <!-- No Str -->
                        <mol-input-text [label]="'No. STR'" formControlName="no_str">
                        </mol-input-text>

                        <!-- Tgl Exp STR -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Tgl Exp STR *'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-datepicker id="tglExpiredSTR" format="dd/MM/yyyy" formControlName="tgl_exp_str">
                                </ejs-datepicker>

                                <atm-validators [IsFormControlTouched]="tgl_exp_str.touched"
                                    [IsFormControlInvalid]="tgl_exp_str.invalid"
                                    [ValidatorsCaption]="'Tgl Exp STR Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>
                        </div>

                        <!-- Smf Dokter -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Smf Dokter'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #SmfDokter id="smfDokter"
                                    [dataSource]="SmfDokterDropdownDataSource | async" [fields]="SmfDokterDropdownField"
                                    [allowFiltering]="true" formControlName="id_smf">
                                </ejs-dropdownlist>
                            </div>
                        </div>

                        <!-- Status Dokter -->
                        <div class="row mb-2">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                <atm-label [LabelCaption]="'Status Dokter'"></atm-label>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ejs-dropdownlist #StatusDokter id="statusDokter"
                                    [dataSource]="StatusDokterDropdownDataSource | async"
                                    [fields]="StatusDokterDropdownField" [allowFiltering]="true"
                                    formControlName="id_status_dokter">
                                </ejs-dropdownlist>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-wizard-step>

            <!-- <ng-wizard-step [title]="'Upload Foto Dokter'">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5 class="mb-0 text-hitam-muda">Upload Foto</h5>
                    </div>
                </div>

                <div class="row pt-2" formGroupName="person">
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <img [src]="url" class="img-thumbnail" width="150px"
                            style="margin-bottom: 20px; max-width: 150px;">
                        <br />
                        <input type='file' formControlName="path_foto" class="form-control"
                            (change)="onSelectFile($event)">
                    </div>
                </div>
            </ng-wizard-step> -->
        </ng-wizard>
    </form>
</org-card-layout>