<org-card-layout [ButtonNav]="TabId == 'Input' ? ButtonNav : []" (onClickButtonNav)="handleClickButtonNav($event)">
    <org-tabs #OrgTabsRef [showHeader]="false" (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- Data -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Data'">Data Bed</org-tabs-label>
            <org-tabs-body>
                <!-- Offcanvas Filter -->
                <div class="row mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mol-offcanvas-filter [FilterColumnDatasource]="FilterColumnDatasource"
                            [FilterDropdownDatasource]="FilterDropdownDatasource"
                            [FilterDropdownFields]="FilterDropdownFields"
                            (handle-change-filter)="handleChangeFilterPencarian($event)"
                            (handle-pencarian)="handlePencarianFilter($event)">
                        </mol-offcanvas-filter>
                    </div>
                </div>

                <!-- Grid Data Bed -->
                <div class="row mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ejs-grid #GridData [id]="'GridDataBed'" [height]="'calc(100vh - 22rem)'" [width]="'100%'"
                            [dataSource]="GridDatasource" [toolbar]="GridDataToolbar" [rowHeight]="30"
                            [gridLines]="'Both'" [allowPaging]="true" [allowResizing]="true" [allowFiltering]='true'
                            [allowGrouping]="true" [groupSettings]="GridGroupSettings" [pageSettings]="GridPageSettings"
                            (rowSelected)="handleSelectedRow($event)" (toolbarClick)="handleToolbarClick($event)">
                            <e-columns>
                                <e-column [width]="80" [field]="'bed_no'" [headerText]="'NO. BED'" [visible]="true"
                                    [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="80" [field]="'room_no'" [headerText]="'NO. ROOM'" [visible]="true"
                                    [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="80" [field]="'kode_poli'" [headerText]="'KODE POLI'" [visible]="true"
                                    [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="200" [field]="'nama_poli'" [headerText]="'POLIKLINIK'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="80" [field]="'nama_kelas'" [headerText]="'KELAS'" [visible]="true"
                                    [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column field='status_bed_descr' headerText='STATUS BED' width='120'
                                    textAlign='Center'>
                                    <ng-template #template let-data>
                                        <!-- Not Operational -->
                                        <div *ngIf="data.is_fill == false && data.is_new == false && data.is_ready == false;"
                                            class="statustemp e_not_operational_color">
                                            <span class="statustxt e_not_operational_color">
                                                {{ data.status_bed_descr }}
                                            </span>
                                        </div>

                                        <!-- Is Ready -->
                                        <div *ngIf="data.is_fill == false && data.is_new == false && data.is_ready == true"
                                            class="statustemp e_is_ready_color">
                                            <span class="statustxt e_is_ready_color">
                                                {{ data.status_bed_descr }}
                                            </span>
                                        </div>

                                        <!-- Is Fill -->
                                        <div *ngIf="data.is_fill == true && data.is_new == false && data.is_ready == false"
                                            class="statustemp e_is_fill_color">
                                            <span class="statustxt e_is_fill_color">
                                                {{ data.status_bed_descr }}
                                            </span>
                                        </div>

                                        <!-- Is New -->
                                        <div *ngIf="data.is_fill == false && data.is_new == true && data.is_ready == false"
                                            class="statustemp e_is_new_color">
                                            <span class="statustxt e_is_new_color">
                                                {{ data.status_bed_descr }}
                                            </span>
                                        </div>
                                    </ng-template>
                                </e-column>
                                <e-column [width]="120" [field]="'status_approve'" [headerText]="'STATUS APPROVE'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="90" [field]="'no_register'" [headerText]="'NO. REGISTER'"
                                    [visible]="false" [allowEditing]="false" [allowSorting]="false"
                                    [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="90" [field]="'no_rekam_medis'" [headerText]="'NO. RM'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="120" [field]="'nama_pasien'" [headerText]="'NAMA PASIEN'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="120" [field]="'usia'" [headerText]="'USIA'" [visible]="true"
                                    [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="80" [field]="'gender'" [headerText]="'GENDER'" [visible]="true"
                                    [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                    [displayAsCheckBox]="true" [textAlign]="'Center'" [headerTextAlign]="'Center'">
                                </e-column>
                                <e-column [width]="90" [field]="'is_active'" [headerText]="'STATUS ACTIVE'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                    [displayAsCheckBox]="true" [textAlign]="'Center'" [headerTextAlign]="'Center'">
                                </e-column>
                                <e-column [width]="90" [field]="'is_view_antrian'" [headerText]="'VIEW ANTRIAN'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                    [displayAsCheckBox]="true" [textAlign]="'Center'" [headerTextAlign]="'Center'">
                                </e-column>
                                <e-column [width]="80" [field]="'is_sesuai_sk'" [headerText]="'FLAG SK'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                    [displayAsCheckBox]="true" [textAlign]="'Center'" [headerTextAlign]="'Center'">
                                </e-column>
                            </e-columns>
                            <ng-template #groupSettingsCaptionTemplate let-data>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <p class="text-white mb-0" style="font-size: 15px">
                                            {{ data.headerText }} {{ data.key }} &nbsp; - &nbsp;
                                            <span class="mb-0 text-white">
                                                {{ data.count }} Bed
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </ng-template>
                        </ejs-grid>
                    </div>
                </div>
            </org-tabs-body>
        </org-tabs-item>

        <!-- Input -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Input'">Input Bed</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputData" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                            <org-input-look-up-kode #LookupRoom [modal-title]="'Data Room'" [lookup-url]="UrlLookupRoom"
                                [idKode]="'room_no'" [idTitle]="'room_descr'"
                                (onGetSelectedData)="handleSelectedRoom($event)"
                                [columns]="GridConfig.LookupRoom.columns" [filter-lookup]="GridConfig.LookupRoom.filter"
                                [label]="'Pilih Room'">
                            </org-input-look-up-kode>

                            <!-- Poliklinik Room -->
                            <div class="row mb-2 align-items-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Poliklinik'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-2">
                                    <input type="text" class="form-control form-select-sm" readonly id="nama_poli">
                                </div>
                            </div>

                            <!-- Kelas -->
                            <div class="row mb-2 align-items-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Kelas'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-2">
                                    <input type="text" class="form-control form-select-sm" readonly id="nama_kelas">
                                </div>
                            </div>

                            <!-- Tampilkan Di Antrian -->
                            <div class="row mb-2 align-items-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tampilkan Di Antrian'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="is_view_antrian"
                                            id="is_view_antrian_iya" [value]="true" formControlName="is_view_antrian">
                                        <label class="form-check-label" for="is_view_antrian_iya">Iya</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="is_view_antrian"
                                            id="is_view_antrian_tidak" [value]="false"
                                            formControlName="is_view_antrian">
                                        <label class="form-check-label" for="is_view_antrian_tidak">Tidak</label>
                                    </div>
                                </div>
                            </div>

                            <!-- Sesuai SK -->
                            <div class="row mb-2 align-items-center">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Sesuai SK'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pt-2">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="is_sesuai_sk"
                                            id="is_sesuai_sk_iya" [value]="true" formControlName="is_sesuai_sk">
                                        <label class="form-check-label" for="is_sesuai_sk_iya">Iya</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="is_sesuai_sk"
                                            id="is_sesuai_sk_tidak" [value]="false" formControlName="is_sesuai_sk">
                                        <label class="form-check-label" for="is_sesuai_sk_tidak">Tidak</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>