<div class="row pt-2">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <org-tabs #OrgTabsRef (onGetSelectedTabId)="onGetSelectedTabId($event)">
            <!-- Tabs Laboratorium  -->
            <org-tabs-item *ngFor="let tab of TabsOrderLaboratorium.Tabs">
                <org-tabs-label [Id]="tab.tab_id">
                    <p class="tab-heading mb-0">
                        {{ tab.tab_caption }}
                    </p>
                </org-tabs-label>
                <org-tabs-body>
                    <div class="row">
                        <!-- Dynamic Button for Each Tab -->
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                            <div class="card shadow-sm border-0">
                                <div class="card-body px-2 py-1 cardButtonLaboratorium">
                                    <div class="mb-2" *ngFor="let button of tab.tab_buttons">
                                        <button class="btn btn-primary btn-sm" type="button"
                                            id="tab.tab_id{{ tab_button_id }}Button" style="width: 100%;"
                                            (click)="onClickTabButton(button)">
                                            {{ button.tab_button_caption }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Dynamic Checklist for Each Button -->
                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <div class="card shadow-sm border-0">
                                <div class="card-body p-2 cardButtonLaboratorium">
                                    <div class="form-check" *ngFor="let check of SelectedCheckbox">
                                        <input class="form-check-input" type="checkbox"
                                            [value]="check.parameter_checked"
                                            [id]="check.parameter_id + 'CheckParameter'"
                                            [checked]="check.parameter_checked"
                                            (change)="onChangeTabsCheckbox(check, 'parent')">
                                        <label class="form-check-label" [class.text-biru-muda]="check.parameter_hasil"
                                            for="{{ check.parameter_id }}CheckParameter">
                                            {{ check.parameter_caption }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </org-tabs-body>
            </org-tabs-item>
        </org-tabs>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="card border-0 shadow-sm">
            <div class="card-body p-2">
                <!-- Button - Button -->
                <div class="row mb-3">
                    <!-- Button Input Diagnosa -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-start">
                        <button class="btn btn-primary btn-sm" type="button" (click)="onClickButtonAddDiagnosa()">
                            Input Diagnosa
                        </button>
                    </div>

                    <!-- Button Pilih Diagnosa -->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-end">
                        <button class="btn btn-success btn-sm" type="button">
                            Pilih Diagnosa
                        </button>
                    </div>
                </div>

                <!-- Modal Dialog Add Diagnosa Baru -->
                <ng-template #modalDialogAddDiagnosa>
                    <form [formGroup]="FormAddDiagnosa">
                        <div class="modal-header px-2 py-1 background-biru-muda text-white">
                            <h5 class="modal-title pull-left">Input Diagnosa Baru</h5>
                            <button type="button" class="btn pull-right text-white" aria-label="Close"
                                (click)="modalRef.hide()">
                                <i class="fas fa-window-close"></i>
                            </button>
                        </div>
                        <div class="modal-body">
                            <!-- Subjective -->
                            <mol-input-text [label]="'Subjective'" formControlName="subjective"></mol-input-text>

                            <!-- Objective -->
                            <mol-input-text [label]="'Objective'" formControlName="objective"></mol-input-text>

                            <!-- Assesment -->
                            <org-input-look-up-kode [label]="'Assesment'" [modal-title]="'Pilih Diagnosa'">
                            </org-input-look-up-kode>

                            <!-- Catatan -->
                            <mol-input-text [label]="'Assesment (Catatan)'"></mol-input-text>

                            <!-- Plan -->
                            <mol-input-textarea [label]="'Plan'" formControlName="plan"></mol-input-textarea>
                        </div>
                        <div class="modal-footer p-2 background-abu-muda">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-123">
                                    <button class="btn btn-primary btn-sm" type="button"
                                        (click)="onSubmitFormAddDiagnosa(FormAddDiagnosa.value)">
                                        Simpan
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </ng-template>

                <!-- Input Field Keterangan dan Catatan -->
                <div class="row mb-2">
                    <!-- Keterangan Klinik Penderita -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                        <label for="Keterangan" class="form-label">Keterangan Klinik Penderita</label>
                        <textarea type="text" class="form-control" id="Keterangan" rows="2"></textarea>
                    </div>

                    <!-- Catatan -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                        <label for="Keterangan" class="form-label">Catatan</label>
                        <input type="text" class="form-control" id="Catatan">
                    </div>
                </div>

                <!-- Grid Daftar Order -->
                <div class="row mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="card-header">
                                <p class="text-biru-muda mb-0">
                                    Daftar Order
                                </p>
                            </div>
                            <div class="card-body p-0">
                                <mol-grid #gridDaftarOrder [grid-id]="'GridDaftarOrder'"
                                    [grid-height]="'calc(100vh - 34.1rem)'" [grid-lines]="'Both'"
                                    [grid-editSettings]="GridDaftarOrderEditSettings" [columns]="GridDaftarOrderColumns"
                                    [grid-DataSource]="GridDaftarOrderDatasource" (row-selected)="onRowSelected($event)"
                                    (initialized)="onInitalizedGrid($event)">
                                </mol-grid>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Button Simpan dan Button Cancel -->
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-end">
                        <button class="btn btn-primary btn-sm me-2" type="button"
                            (click)="onSubmitLaboratoriumPasien()">Simpan</button>
                        <button class="btn btn-danger btn-sm" type="button">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>