<!-- Modal Add Permintaan Mutasi -->
<button id="btnOpenModalApproveRequestMutasi" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#modalApprovePermintaanMutasi" [hidden]="true">
    Launch Modal Add Approve Permintaan Mutasi
</button>

<div class="modal fade" id="modalApprovePermintaanMutasi" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby="modalApprovePermintaanMutasiLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content border-0">
            <div class="modal-header py-2 px-3 background-biru-muda text-white">
                <h5 class="modal-title" id="modalApprovePermintaanMutasiLabel">{{ ModalTitle }}</h5>
                <button id="btnCloseModalApproveRequestMutasi" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="FormApprovePermintaanMutasi">
                    <!-- Alasan Approve Permintaan Mutasi Bed -->
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <label class="form-label mb-2 font-cabin">Tanggal Approve</label>
                            <ejs-datetimepicker #DateTimePickerTglRequest [timeFormat]="'HH:mm'"
                                [format]="'dd/MM/yyyy HH:mm'">
                            </ejs-datetimepicker>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2 px-3 background-abu-muda text-white">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="handleSubmitFormApproveRequestMutasi(FormApprovePermintaanMutasi.value)">
                    Simpan
                </button>
            </div>
        </div>
    </div>
</div>