<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="formKontrak">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                <mol-input-text style="display: none;" [label]="'No Pemesanan'" formControlName="nomor_pemesanan"
                    [inputFieldState]="inputFieldState">
                </mol-input-text>

                <mol-datepicker-syncfusion [label]="'Tgl Pemesanan*'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_pemesanan">
                </mol-datepicker-syncfusion>

                <mol-datepicker-syncfusion [label]="'Expired Pemesanan*'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_expired_pemesanan">
                </mol-datepicker-syncfusion>

                <!-- Dropdown Stockrom -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Stockrom*'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #MaritalStockroomDropdown id="marital"
                            [dataSource]="setupStockroomService.dataSource| async"
                            [fields]="MaritalStockroomDropdownField" [allowFiltering]="true"
                            formControlName="id_stockroom">
                        </ejs-dropdownlist>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                <org-input-look-up-kode #LookupKodeSupplier [lookup-url]="urlSupplier" [idKode]="'kode_supplier'"
                    [idTitle]="'nama_supplier'" (onGetSelectedData)="heandleSelectedSupplier($event)"
                    [columns]="GridLookUpSupplier.columns" [filter-lookup]="GridLookUpSupplier.filter"
                    [label]="'Supplier*'" [modal-title]="'Data Supplier'">
                </org-input-look-up-kode>

                <mol-input-textarea [label]="'Keterangan'" formControlName="keterangan"></mol-input-textarea>
            </div>
        </div>

        <ejs-grid #gridDetail [id]="'GridDeail'" [editSettings]='GridDataEditSettings'
            [dataSource]='pemesananService.dataDetail$ | async' [gridLines]="'Both'" [toolbar]='GridDetailToolbar'
            [allowResizing]='true' 
            (actionComplete)="handleActionCompleted($event)"
            (actionBegin) = "handleActionBegin($event)"
            (toolbarClick)="onToolbarClick($event)" (load)="handleLoadGrid($event)"
            (rowSelected)="handleSelectdRow($event)">
            <e-columns>
                <e-column [visible]="false" field='kontrak_id' [allowEditing]="false" headerText='Kontrak'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='kontrak_detail_item_id' [allowEditing]="false" headerText='Kontrak'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='set_harga_order_id' [allowEditing]="false" headerText='Kontrak'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='set_harga_order_detail_id' [allowEditing]="false"
                    headerText='Kontrak' editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='no_urut' [allowEditing]="false" headerText='urut'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='id_item' [allowEditing]="false" headerText='id_item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='barcode' [allowEditing]="false" headerText='Barcode'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='kode_item' [allowEditing]="false" headerText='Kode Item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center" [width]="150">
                </e-column>
                <e-column [visible]="true" field='nama_item' [allowEditing]="false" headerText='Nama Item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center" [width]="300">
                </e-column>
                <e-column [visible]="true" field='qty_satuan_besar' [allowEditing]="true" headerText='Banyak'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="true" field='kode_satuan_besar' [allowEditing]="true" headerText='Satuan'
                    editType='dropdownedit' [edit]='satuanParams' textAlign="left" headerTextAlign="center"
                    [width]="200">
                </e-column>
                <e-column [visible]="true" field='isi' [allowEditing]="false" headerText='Isi' editType='defaultEdit'
                    textAlign="right" headerTextAlign="center" format="N2" [width]="100">
                </e-column>
                <e-column [visible]="true" field='qty_pesan' [allowEditing]="false" headerText='Qty'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='harga_satuan' [allowEditing]="false" headerText='Harga Satuan'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_prosentase_1' [allowEditing]="true" headerText='D1'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_nominal_1' [allowEditing]="true" headerText='D1'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_prosentase_2' [allowEditing]="true" headerText='D2'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_nominal_2' [allowEditing]="true" headerText='D2'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='harga_satuan_brutto' [allowEditing]="false"
                    headerText='harga satuan bruto' editType='defaultEdit' textAlign="right" headerTextAlign="center"
                    format="N2">
                </e-column>
                <e-column [visible]="false" field='tax_prosentase' [allowEditing]="true" headerText='tax'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='tax_nominal' [allowEditing]="true" headerText='tax'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='harga_satuan_netto' [allowEditing]="false"
                    headerText='harga satuan netto' editType='defaultEdit' textAlign="right" headerTextAlign="center"
                    format="N2">
                </e-column>
                <e-column [visible]="false" field='sub_total_pesan' [allowEditing]="false" headerText='Sub Total'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
            </e-columns>
        </ejs-grid>

        <div class="row">
            <div class="col-sm-5">
            </div>

            <div class="col-sm-4">
                <!-- <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="pemesananService.sub_total_1" formControlName="sub_total_1"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Diskon'" [isFooter]="true"
                    [value]="pemesananService.total_disc" formControlName="total_disc"
                    [inputFieldState]="'input'"></mol-input-text>
                <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="pemesananService.sub_total_2" formControlName="sub_total_2"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Tax'" [isFooter]="true"
                    [value]="pemesananService.total_tax" formControlName="total_tax"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="pemesananService.total_transaksi_pesan" formControlName="total_transaksi_pesan"
                    [inputFieldState]="'detail'"></mol-input-text> -->
            </div>
            <div class="col-sm-3">
                <mol-input-numeric [label]="'Jumlah Item'" [isFooter]="true"
                    [value]="pemesananService.jumlah_item_pesan" formControlName="jumlah_item_pesan"
                    [inputFieldState]="'detail'" [inputFieldState]="'detail'"></mol-input-numeric>
            </div>
        </div>
    </form>

    <org-look-up #LookupItem [lookup-url]="urlItem" (onGetSelectedData)="heandleSelectedItem($event)"
        [columns]="GridLookUpItem.columns" [filter-lookup]="GridLookUpItem.filter" [modal-title]="'Data Item'">
    </org-look-up>

    <!-- Modal Harga  -->
    <ng-template #modalHarga>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Harga</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #hargaValueId id="HargaValueId" class="form-control"
                        (keydown.enter)="handleHargaChange(hargaValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal QTY  -->
    <ng-template #modalQty>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Qty</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #qtyValueId id="QtyValueId" class="form-control"
                        (keydown.enter)="handleQtyChange(qtyValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal subtotal  -->
    <ng-template #modalSubtotal>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Subtotal</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #subtotalValueId id="SubtotalValueId" class="form-control"
                        (keydown.enter)="handleSubtotalChange(subtotalValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal satuan  -->
    <ng-template #modalSatuan>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Satuan</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <select #satuanValueId id="SatuanValueId" [value]="detailSelected.kode_satuan_besar"
                        class="form-control" (keydown.enter)="handleSatuanChange(satuanValueId.value)" multiple>
                        <option *ngFor="let item of datasatuan" [ngValue]="item.kode_satuan">{{item.kode_satuan}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>
</org-card-layout>