<section id="payment_method_debit">
    <form [formGroup]="FormPaymentCredit">
        <!-- Belum Lunas -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Belum Lunas'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ejs-numerictextbox [enableRtl]="true" [showClearButton]="false" [showSpinButton]="false"
                    [format]="'N2'" [cssClass]="'readonly-state rounded border-0'" [readonly]="true"
                    formControlName="belum_lunas">
                </ejs-numerictextbox>
            </div>
        </div>

        <!-- Bank -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Nama Bank'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ejs-dropdownlist #BankPaymentDropdown [allowFiltering]="true" formControlName="id_bank_payment"
                    [dataSource]="BankPaymentDatasource" [fields]="BankPaymentFields">
                </ejs-dropdownlist>
            </div>
        </div>

        <!-- EDC -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Nama EDC'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ejs-dropdownlist #EDCDropdown [allowFiltering]="true" formControlName="id_edc_payment"
                    [dataSource]="EdcPaymentDatasource" [fields]="EdcPaymentFields">
                </ejs-dropdownlist>
            </div>
        </div>

        <!-- Jenis Kartu -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Jenis Kartu'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input class="form-control form-select-sm" type="text" formControlName="jenis_kartu">
            </div>
        </div>

        <!-- Card Holder -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Card Holder'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input class="form-control form-select-sm" type="text" formControlName="card_holder">
            </div>
        </div>

        <!-- Nomor Kartu -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Nomor Kartu'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input class="form-control form-select-sm" type="text" formControlName="nomor_kartu">
            </div>
        </div>

        <!-- Trace Number -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Trace Number'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <input class="form-control form-select-sm" type="text" formControlName="trace_number">
            </div>
        </div>

        <!-- Jumlah Bayar -->
        <div class="row mb-2">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <atm-label [LabelCaption]="'Jumlah Bayar'"></atm-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                <ejs-numerictextbox #JumlahBayar [enableRtl]="true" [showClearButton]="false" [showSpinButton]="false"
                    [format]="'N2'" formControlName="jumlah_bayar" [readonly]="true"
                    (keyup.enter)="onSendJumlahBayar(FormPaymentCredit.value)">
                </ejs-numerictextbox>
            </div>
        </div>
    </form>
</section>