<org-card-layout [ButtonNav]="TabId == 'Input' ? ButtonNav : []" (onClickButtonNav)="handleClickButtonNav($event)">
    <org-tabs #OrgTabsRef [showHeader]="false" (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- Data -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Data'">Data Rute Pemberian Obat</org-tabs-label>
            <org-tabs-body>
                <mol-grid
                    #GridData
                    [grid-height]="300"
                    [grid-DataSource]="GridDatasource"
                    [grid-paging]="false"
                    [grid-editSettings]="GridDataEditSettings"
                    [grid-lines]="'Both'"
                    [grid-toolbar]="GridDataToolbar"
                    [columns]="GridConfig.GridColumns"
                    (row-selected)="handleSelectedRow($event)"
                    (toolbar-click)="handleToolbarClick($event)"
                    (load-grid)="handleLoadGrid($event)"
                    (initialized)="InitalizedGrid($event)"
                    (command-click)="handleClickCommandGrid($event)"
                    (action-complete)="handleActionComplete($event)"></mol-grid>
            </org-tabs-body>
        </org-tabs-item>
        <!-- Input -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Input'">Input Rute Pemberian Obat</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputData" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                            <mol-input-text 
                                [label]="'Nama Rute Pemberian Obat'" 
                                formControlName="nama_rute_pemberian_obat"
                                [IsFormControlInvalid]="nama_rute_pemberian_obat.invalid"
                                [ValidatorsCaption]="'Nama Rute Pemberian Obat Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>
                            <mol-input-text 
                                [label]="'Kode Rute Pemberian Obat'" 
                                formControlName="rute_pasien"
                                [IsFormControlInvalid]="rute_pasien.invalid"
                                [ValidatorsCaption]="'Kode Rute Pemberian Obat Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>
                            <mol-input-text [label]="'Ordered'" formControlName="ordered" [inputFieldState]="inputFieldState"></mol-input-text>
                            <mol-input-checkbox-single [label]="'Parenteral'" formControlName="is_parenteral" id="is_parenteral" ></mol-input-checkbox-single>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>