<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="formKontrak">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">

                <org-input-look-up-kode #LookupKodeSupplier [lookup-url]="urlSupplier" [idKode]="'kode_supplier'"
                    [idTitle]="'nama_supplier'" (onGetSelectedData)="heandleSelectedSupplier($event)"
                    [columns]="GridLookUpSupplier.columns" [filter-lookup]="GridLookUpSupplier.filter"
                    [label]="'Supplier'" [modal-title]="'Data Supplier'"></org-input-look-up-kode>

                <mol-input-text [label]="'No SPBBJ'" formControlName="nomor_kontrak_spjb"></mol-input-text>

                <mol-input-text [label]="'Nomor Kontrak'" formControlName="nomor_kontrak"></mol-input-text>

                <mol-datepicker-syncfusion [label]="'Tgl TTD'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_ttd_kontrak">
                </mol-datepicker-syncfusion>

                <mol-input-text [label]="'Judul Kontrak'" formControlName="judul_kontrak"></mol-input-text>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">

                <mol-datepicker-syncfusion [label]="'Tgl Berlaku Kontrak'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_berlaku_kontrak">
                </mol-datepicker-syncfusion>

                <mol-datepicker-syncfusion [label]="'Tgl Berakhir Kontrak'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_berakhir_kontrak">
                </mol-datepicker-syncfusion>

                <mol-input-text [label]="'Tahun Anggaran'" formControlName="tahun_anggaran"></mol-input-text>

                <mol-input-textarea [label]="'Keterangan'" formControlName="keterangan"></mol-input-textarea>

            </div>
        </div>
        <ng-template #templateToolbar let-data>
            <a>halooo jhon</a>
        </ng-template>

        <ejs-grid #gridDetail [id]="'GridDeail'" [editSettings]='GridDataEditSettings' [dataSource]='inputKontrakPengadaanService.dataDetail$ | async'
            [gridLines]="'Both'" [toolbar]='GridDetailToolbar' (actionComplete)="handleActionCompleted($event)"
            (toolbarClick)="onToolbarClick($event)" (load)="handleLoadGrid($event)"
            (rowSelected)="handleSelectdRow($event)">
            <e-columns>
                <e-column [visible]="false" field='kontrak_id' [allowEditing]="false" headerText='Kontrak'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='no_urut' [allowEditing]="false" headerText='urut'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='id_item' [allowEditing]="false" headerText='id_item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='kode_item' [allowEditing]="false" headerText='Kode Item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='nama_item' [allowEditing]="false" headerText='Nama Item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <!-- editType Diubah ke datapickeredit dan setting edit parameter ke TglExpiredParams -->
                <e-column [visible]="true" field='tanggal_maksimal_expired_date' [allowEditing]="true"
                    headerText='Max Expired' editType='datepickeredit' textAlign="left" headerTextAlign="center"
                    format="dd MMMM yyyy" type="Date" [edit]="TglExpiredParams">
                </e-column>
                <e-column [visible]="true" field='qty_kontrak_satuan_besar' [allowEditing]="true" headerText='Banyak'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='kode_satuan_besar' [allowEditing]="true" headerText='Satuan'
                    editType='dropdownedit' [edit]='satuanParams' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='isi' [allowEditing]="true" headerText='Isi' editType='defaultEdit'
                    textAlign="left" headerTextAlign="right">
                </e-column>
                <e-column [visible]="true" field='qty_kontrak' [allowEditing]="false" headerText='QTY'
                    editType='defaultEdit' textAlign="left" headerTextAlign="right">
                </e-column>
                <e-column [visible]="true" field='harga_satuan' [allowEditing]="true" headerText='Harga Satuan'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="true" field='sub_total_kontrak' [allowEditing]="true" headerText='Sub Total'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
            </e-columns>
        </ejs-grid>

        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-4">
                <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="inputKontrakPengadaanService.total" formControlName="total_transaksi_kontrak"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Jumlah Item'" [isFooter]="true"
                    [value]="inputKontrakPengadaanService.jumlahItem" formControlName="jumlah_item_kontrak"
                    [inputFieldState]="'detail'"></mol-input-text>
            </div>
        </div>
    </form>

    <org-look-up #LookupItem [lookup-url]="urlItem" (onGetSelectedData)="heandleSelectedItem($event)"
        [columns]="GridLookUpItem.columns" [filter-lookup]="GridLookUpItem.filter" [modal-title]="'Data Item'">
    </org-look-up>

    <!-- Modal Harga  -->
    <ng-template #modalHarga>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Harga</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #hargaValueId id="HargaValueId" class="form-control"
                        (keydown.enter)="handleHargaChange(hargaValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal QTY  -->
    <ng-template #modalQty>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Qty</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #qtyValueId id="QtyValueId" class="form-control"
                        (keydown.enter)="handleQtyChange(qtyValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal subtotal  -->
    <ng-template #modalSubtotal>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Subtotal</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #subtotalValueId id="SubtotalValueId" class="form-control"
                        (keydown.enter)="handleSubtotalChange(subtotalValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal satuan  -->
    <ng-template #modalSatuan>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Satuan</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <select #satuanValueId id="SatuanValueId" [value]="detailSelected.kode_satuan_besar"
                        class="form-control" (keydown.enter)="handleSatuanChange(satuanValueId.value)" multiple>
                        <option *ngFor="let item of datasatuan" [ngValue]="item.kode_satuan">{{item.kode_satuan}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

</org-card-layout>