<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="formKontrak">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">

                <org-input-look-up-kode
                    #LookupKodeSupplier
                    [lookup-url]="urlSupplier"
                    [idKode]="'kode_supplier'"
                    [idTitle]="'nama_supplier'"
                    (onGetSelectedData)="heandleSelectedSupplier($event)"
                    [columns]="GridLookUpSupplier.columns"
                    [filter-lookup]="GridLookUpSupplier.filter"
                    [label]="'Supplier'"
                    [modal-title]="'Data Supplier'"></org-input-look-up-kode>
                
                <mol-input-text [label]="'No SPBBJ'" formControlName="nomor_spbbj"></mol-input-text>
                
                <mol-input-text [label]="'Nomor Kontrak'" formControlName="nomor_kontrak"></mol-input-text>
                
                <mol-datepicker-syncfusion [label]="'Tgl TTD'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_ttd_kontrak">
                </mol-datepicker-syncfusion>

                <mol-input-text [label]="'Judul Pekerjaan'" formControlName="judul_pekerjaan"></mol-input-text>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">

                <mol-datepicker-syncfusion [label]="'Tgl Berlaku Kontrak'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_berlaku_kontrak">
                </mol-datepicker-syncfusion>

                <mol-datepicker-syncfusion [label]="'Tgl Berakhir Kontrak'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_berakhir_kontrak">
                </mol-datepicker-syncfusion>

                <mol-input-text [label]="'Tahun Anggaran'" formControlName="tahun_anggaran"></mol-input-text>

                <mol-input-textarea [label]="'Keterangan'" formControlName="keterangan"></mol-input-textarea>

            </div>
        </div>
        <!-- <button (click)="tes()">Testing</button> -->

        <mol-grid
            #gridDetail
            [grid-id]="'GridDetail'"
            [grid-editSettings]="GridDataEditSettings"
            [grid-height]="300"
            [grid-DataSource]="inputKontrakPengadaanService.dataDetail$ | async"
            [grid-lines]="'Both'"
            [grid-toolbar]="GridDetailToolbar"
            (toolbar-click)="onToolbarClick($event)"
            [columns]="GridDetailItem.TrKontrakSpjbDetailItemInsert"
            (action-complete)="handleActionCompleted($event)"
            (initialized)="InitalizedGrid($event)"
            (load-grid)="handleLoadGrid($event)"
            (row-selected)="handleSelectdRow($event)"
            ></mol-grid>

    <div class="row">
        <div class="col-sm-8">
        </div>
        <div class="col-sm-4">
            <mol-input-text [label]="'Total Transaksi'" [isFooter]="true" [value] = "inputKontrakPengadaanService.total" formControlName="total_transaksi_kontrak" [inputFieldState]="'detail'"></mol-input-text>
            <mol-input-text [label]="'Jumlah Item'" [isFooter]="true" [value] = "inputKontrakPengadaanService.jumlahItem" formControlName="jumlah_item_kontrak" [inputFieldState]="'detail'"></mol-input-text>
        </div>
    </div>
</form>
    <org-look-up
        #LookupItem
        [lookup-url]="urlItem"
        (onGetSelectedData)="heandleSelectedItem($event)"
        [columns]="GridLookUpItem.columns"
        [filter-lookup]="GridLookUpItem.filter"
        [modal-title]="'Data Item'"
    >
    </org-look-up>
<!-- Modal Harga  -->
    <ng-template #modalHarga>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Harga</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close"
                (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #hargaValueId id="HargaValueId" class="form-control" 
                        (keydown.enter)="handleHargaChange(hargaValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>
<!-- Modal QTY  -->
    <ng-template #modalQty>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Qty</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close"
                (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #qtyValueId id="QtyValueId" class="form-control" 
                        (keydown.enter)="handleQtyChange(qtyValueId.value)"/>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

<!-- Modal subtotal  -->
    <ng-template #modalSubtotal>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Subtotal</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close"
                (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #subtotalValueId id="SubtotalValueId" class="form-control" 
                        (keydown.enter)="handleSubtotalChange(subtotalValueId.value)" />
                </div> 
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>


<!-- Modal satuan  -->
<ng-template #modalSatuan>
    <div class="modal-header px-2 py-1 background-biru-muda text-white">
        <h5 class="modal-title pull-left">Edit Satuan</h5>
        <button type="button" class="btn pull-right text-white" aria-label="Close"
            (click)="modalRef.hide()">
            <i class="fas fa-window-close"></i>
        </button>
    </div>
    <div class="modal-body p-10">
        <div class="row mx-0 my-1">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <select #satuanValueId id="SatuanValueId" class="form-control" (keydown.enter)="handleSatuanChange(satuanValueId.value)" multiple>
                    <option value="pack">PACK</option>
                    <option value="box">BOX</option>
                    <option value="dus">DUS</option>
                </select>
            </div> 
        </div>
    </div>
    <div class="modal-footer background-abu-muda">
        <button type="button" class="btn btn-primary">Oke</button>
    </div>
</ng-template>

</org-card-layout>
