<org-card-layout [ButtonNav]="TabId == 'Input' ? ButtonNav : []" (onClickButtonNav)="handleClickButtonNav($event)">
    <org-tabs #OrgTabsRef [showHeader]="false" (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- Data -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Data'">Data Cuti Dokter</org-tabs-label>
            <org-tabs-body>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                        <mol-offcanvas-filter [FilterColumnDatasource]="FilterColumnDatasource"
                            (handle-pencarian)="handlePencarianFilter($event)">
                        </mol-offcanvas-filter>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <ejs-grid #GridData [id]="'GridDaftarPasien'" [height]="'calc(100vh - 19rem)'"
                            [dataSource]="GridDatasource" [rowHeight]="30" [gridLines]="'Both'" [allowPaging]="true"
                            [pageSettings]="GridDataPageSettings" [toolbar]="GridDataToolbar" [allowResizing]="true"
                            [allowFiltering]='true' [editSettings]="GridDataEditSettings"
                            (rowSelected)="handleSelectedRow($event)" (toolbarClick)="handleToolbarClick($event)"
                            (actionComplete)="handleActionComplete($event)">
                            <e-columns>
                                <e-column [width]="50" [field]="'id_dokter'" [headerText]="'ID'" [visible]="false"
                                    [type]="'number'" [allowEditing]="false" [allowSorting]="false" [format]="'N'"
                                    [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="100" [field]="'nama_dokter'" [headerText]="'NAMA DOKTER'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="100" [field]="'spesialisasi_dokter'" [headerText]="'SPESIALISASI'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column [width]="80" [field]="'tgl_mulai_cuti'" [headerText]="'TGL MULAI CUTI'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                    [type]="'DateTime'" [format]="'dd/MM/yyyy'">
                                </e-column>
                                <e-column [width]="80" [field]="'tgl_selesai_cuti'" [headerText]="'TGL. SELESAI CUTI'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'"
                                    [type]="'DateTime'" [format]="'dd/MM/yyyy'">
                                </e-column>
                                <e-column [width]="150" [field]="'keterangan'" [headerText]="'KETERANGAN'"
                                    [visible]="true" [allowEditing]="false" [allowSorting]="false" [textAlign]="'Left'">
                                </e-column>
                                <e-column field='is_active' headerText='STATUS' width='70' textAlign='Center'>
                                    <ng-template #template let-data>
                                        <div *ngIf="data.is_active === true;else inactive"
                                            class="statustemp e-activecolor">
                                            <span class="statustxt e-activecolor">
                                                {{ data.is_active ? 'AKTIF' : 'NON AKTIF' }}
                                            </span>
                                        </div>
                                        <ng-template #inactive>
                                            <div class="statustemp e-inactivecolor">
                                                <span class="statustxt e-inactivecolor">
                                                    {{ data.is_active ? 'AKTIF' : 'NON AKTIF' }}
                                                </span>
                                            </div>
                                        </ng-template>
                                    </ng-template>
                                </e-column>
                            </e-columns>
                        </ejs-grid>
                    </div>
                </div>
            </org-tabs-body>
        </org-tabs-item>

        <!-- Input -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Input'">Input Cuti Dokter</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputData" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                            <!-- Kode Dokter -->
                            <org-input-look-up #LookupKodeDokter [modal-title]="'Data Dokter'" [lookup-url]="urlDokter"
                                [idKode]="'kode_dokter'" [idTitle]="'full_name'"
                                (onGetSelectedData)="heandleSelectedDokter($event)"
                                [columns]="GridConfig.LookupDokter.columns"
                                [filter-lookup]="GridConfig.LookupDokter.filter" [label]="'Nama Dokter'">
                            </org-input-look-up>

                            <!-- Tgl Mulai Cuti -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tgl Mulai Cuti'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-datepicker [format]="'dd/MM/yyyy'" formControlName="tgl_mulai_cuti">
                                    </ejs-datepicker>
                                </div>
                            </div>

                            <!-- Tgl Mulai Cuti -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Tgl Selesai Cuti'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <ejs-datepicker [format]="'dd/MM/yyyy'" formControlName="tgl_selesai_cuti">
                                    </ejs-datepicker>
                                </div>
                            </div>

                            <!-- Keterangan -->
                            <div class="row mb-2">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <atm-label [LabelCaption]="'Keterangan'"></atm-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                    <textarea class="form-control" rows="2" formControlName="keterangan"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>