.see-detail>.e-input-group{
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    background-color: white !important;
  }
  
.see-detail:focus,
.see-detail:active {
    box-shadow: none !important;
}
  
.is-footer{
    font-weight: bold!important;
    font-size:14px!important;
}