<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="formAdmisiPasien">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <!-- No. Register -->
                <mol-input-text [disabled]="true" [label]="'No Register Pasien'">
                </mol-input-text>

                <!-- Foto Pasien -->
                <div class="row mb-3 align-items-center">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <img [src]="image ? imageSrc : '../../../../../../assets/image/pendaftaran-ulang-pasien/blank.png'"
                            class="img-thumbnail"
                            style="width: 120px; max-width: 120px; height: 150px; max-height: 150px;">
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 text-center" *ngIf="IsPersonTerjadwal">
                        <h5 class="text-info mb-0">
                            Pasien Ini Telah Terdaftar pada Antrian Reguler Pemesanan Bed
                        </h5>
                    </div>
                </div>

                <!-- No. MR -->
                <org-input-look-up #LookupMr [modal-title]="'Data Pasien'" [lookup-url]="urlRm"
                    [idTitle]="'no_rekam_medis'" (onGetSelectedData)="heandleSelectedMR($event)"
                    [columns]="settingGrid.LookupPasien.columns" [filter-lookup]="settingGrid.LookupPasien.filter"
                    [label]="'No MR'">
                </org-input-look-up>

                <!-- Nama Pasien -->
                <mol-input-text [id]="'nama_pasien'" formControlName="full_name" [label]="'Nama Pasien'"
                    [disabled]="true">
                </mol-input-text>

                <!-- Tanggal Masuk -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Tanggal Masuk'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-datepicker [format]="'dd/MM/yyyy'" [value]="TglMasuk" [readonly]="true" [disabled]="true">
                        </ejs-datepicker>
                    </div>
                </div>

                <!-- Unit -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Unit *'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist *ngIf="!IsPersonTerjadwal" #DropdownRuangan
                            [dataSource]="DropdownRuanganDatasource" [fields]="DropdownRuanganField"
                            [allowFiltering]="true" formControlName="id_jenis_ruangan"
                            (change)="handleChangeDropdownRuangan(DropdownRuangan.value)">
                        </ejs-dropdownlist>

                        <input *ngIf="IsPersonTerjadwal" id="jenis_ruangan_antrian" type="text" readonly
                            class="form-control form-select-sm">
                    </div>
                </div>

                <!-- Poli -->
                <org-input-look-up-kode *ngIf="!IsPersonTerjadwal" #LookupKodePoli [modal-title]="'Data Poli'"
                    [lookup-url]="urlPoli" [idKode]="'kode_poli'" [idTitle]="'nama_poli'"
                    (onGetSelectedData)="heandleSelectedPoli($event)" [columns]="settingGrid.LookupPoli.columns"
                    [filter-lookup]="settingGrid.LookupPoli.filter" [label]="'Poli *'">
                </org-input-look-up-kode>

                <mol-input-text *ngIf="IsPersonTerjadwal" [disabled]="true" [label]="'Poli *'" id="poli_antrian">
                </mol-input-text>

                <!-- No. Room -->
                <org-input-look-up *ngIf="!IsPersonTerjadwal" #LookupRoom [modal-title]="'Data Room'"
                    [lookup-url]="urlLookupRoom" [idTitle]="'room_no'" (onGetSelectedData)="heandleSelectedRoom($event)"
                    [columns]="settingGrid.LookupRoom.columns" [filter-lookup]="settingGrid.LookupRoom.filter"
                    [label]="'No. Room *'">
                </org-input-look-up>

                <mol-input-text *ngIf="IsPersonTerjadwal" [disabled]="true" [label]="'No. Room *'" id="room_no_antrian">
                </mol-input-text>

                <!-- No. Bed -->
                <org-input-look-up *ngIf="!IsPersonTerjadwal" #LookupBed [modal-title]="'Data Bed'"
                    [lookup-url]="urlLookupBed" [idTitle]="'bed_no'" (onGetSelectedData)="heandleSelectedBed($event)"
                    [columns]="settingGrid.LookupBed.columns" [filter-lookup]="settingGrid.LookupBed.filter"
                    [static-filter]="LookupBedStaticFilter" [label]="'No. Bed *'">
                </org-input-look-up>

                <mol-input-text *ngIf="IsPersonTerjadwal" [disabled]="true" [label]="'No. Bed *'" id="bed_no_antrian">
                </mol-input-text>

                <!-- Kelas Pelayanan -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Kelas Pelayanan *'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist *ngIf="!IsPersonTerjadwal" #DropdownKelas
                            [dataSource]="DropdownKelasDatasource" [fields]="DropdownKelasField" [allowFiltering]="true"
                            formControlName="id_kelas_rawat">
                        </ejs-dropdownlist>

                        <input *ngIf="IsPersonTerjadwal" id="kelas_antrian" type="text" readonly
                            class="form-control form-select-sm">
                    </div>
                </div>

                <!-- Nama Dokter -->
                <org-input-look-up-kode #LookupKodeDokter [modal-title]="'Data Dokter'" [lookup-url]="urlDokter"
                    [idKode]="'kode_dokter'" [idTitle]="'full_name'" (onGetSelectedData)="heandleSelectedDokter($event)"
                    [columns]="settingGrid.LookupDokter.columns" [filter-lookup]="settingGrid.LookupDokter.filter"
                    [label]="'Nama Dokter *'">
                </org-input-look-up-kode>

                <!-- Debitur -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Debitur *'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist *ngIf="!IsPersonTerjadwal" #DropdownDebitur
                            [dataSource]="DropdownDebiturDatasource" [fields]="DropdownDebiturField"
                            [allowFiltering]="true" formControlName="id_debitur"
                            (change)="handleChangeDropdownDebitur($event)">
                        </ejs-dropdownlist>

                        <input *ngIf="IsPersonTerjadwal" id="debitur_antrian" type="text" readonly
                            class="form-control form-select-sm">
                    </div>
                </div>

                <!-- Hak Kelas -->
                <div class="row mb-2" [hidden]="id_debitur.value == 1">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Hak Kelas *'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #DropdownKelas [dataSource]="DropdownKelasDatasource"
                            [fields]="DropdownKelasField" [allowFiltering]="true" formControlName="id_hak_kelas">
                        </ejs-dropdownlist>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <!-- Jenis Karcis -->
                <!-- <mol-input-text [label]="'Jenis Karcis'"></mol-input-text> -->

                <!-- No. Karcis -->
                <!-- <mol-input-text [label]="'No Karcis'"></mol-input-text> -->

                <!-- Asal Rujukan -->
                <org-input-look-up-kode #LookupAsalRujukan [modal-title]="'Data Asal Rujukan'"
                    [lookup-url]="urlAsalRujukan" [idKode]="'kode_asal_rujukan'" [idTitle]="'nama_asal_rujukan'"
                    (onGetSelectedData)="handleSelectedAsalRujukan($event)"
                    [columns]="settingGrid.LookupAsalRujukan.columns"
                    [filter-lookup]="settingGrid.LookupAsalRujukan.filter"
                    [label]="id_debitur.value != 1 ? 'Asal Rujukan *' : 'Asal Rujukan'">
                </org-input-look-up-kode>

                <!-- Kota / Kab -->
                <org-input-look-up-kode #LookupKotaAsalRujukan [modal-title]="'Data Kota'"
                    [lookup-url]="urlKotaAsalRujukan" [idKode]="'kode_wilayah'" [idTitle]="'nama_wilayah'"
                    (onGetSelectedData)="handleSelectedKotaAsalRujukan($event)"
                    [columns]="settingGrid.LookupKotaRujukan.columns"
                    [filter-lookup]="settingGrid.LookupKotaRujukan.filter"
                    [label]="id_debitur.value != 1 ? 'Kota Asal Rujukan *' : 'Kota Asal Rujukan'">
                </org-input-look-up-kode>

                <!-- Di Rujuk -->
                <mol-input-text [label]="'Di Rujuk Oleh'"></mol-input-text>

                <!-- Diagnosa Awal -->
                <org-input-look-up-kode #LookupDiagnosa [modal-title]="'Data Diagnosa Awal'" [lookup-url]="urlDiagnosa"
                    [idKode]="'kode_icd'" [idTitle]="'nama_icd'"
                    (onGetSelectedData)="heandleSelectedDiagnosaAwal($event)"
                    [columns]="settingGrid.LookupDiagnosa.columns" [filter-lookup]="settingGrid.LookupDiagnosa.filter"
                    [label]="'Diagnosa Awal *'">
                </org-input-look-up-kode>

                <!-- Keluhan -->
                <mol-input-text formControlName="keluhan" [label]="'Keluhan'"></mol-input-text>

                <!-- Catatan -->
                <mol-input-textarea formControlName="keterangan_diagnosa" [label]="'Catatan'"></mol-input-textarea>

                <!-- Catatan Terakhir -->
                <mol-input-textarea [label]="'Catatan Terakhir'"></mol-input-textarea>

                <!-- Operator -->
                <!-- <mol-input-text [label]="'Operator'"></mol-input-text> -->

                <div class="row px-2 pt-2 pb-1 mx-0 mt-3 border shadow-sm rounded mb-2">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
                        <!-- No. Peserta -->
                        <mol-input-text formControlName="no_peserta"
                            [label]="id_debitur.value != 1 ? 'No. Peserta *' : 'No. Peserta'">
                        </mol-input-text>

                        <!-- No. SEP -->
                        <mol-input-text [label]="'No. SEP'"></mol-input-text>
                    </div>
                </div>

                <div class="row px-2 pt-2 pb-1 mx-0 mt-3 justify-content-end">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 border shadow-sm rounded py-2">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                            <label class="form-check-label" for="inlineCheckbox1">Bayi Lahir</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Different Bed  -->
    <ng-template #modalDifferentBed>
        <div class="modal-header px-2 py-2 background-biru-muda">
            <h5 class="modal-title pull-left text-white">
                Alasan Bed Request TPPRI Dan Bed Admisi Berbeda
            </h5>
            <!-- <button type="button" class="btn pull-right" aria-label="Close" (click)="handleCloseModalDifferentBed()">
                <i class="fas fa-window-close"></i>
            </button> -->
        </div>
        <div class="modal-body pt-0 pb-2 px-2">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form [formGroup]="formDifferentBed">
                        <div class="row mb-2 align-items-center">
                            <!-- Alasan Pembatalan -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 px-0">
                                <atm-label
                                    [LabelCaption]="'Mohon Isikan Alasan Bed Request TPPRI dan Bed Admisi Berbeda'">
                                </atm-label>

                                <textarea rows="3" class="form-control mt-2" formControlName="reason_different_bed">
                                </textarea>

                                <atm-validators [IsFormControlTouched]="reason_different_bed_reason.touched"
                                    [IsFormControlInvalid]="reason_different_bed_reason.invalid"
                                    [ValidatorsCaption]="'Alasan Beda Bed Tidak Boleh Kosong'">
                                </atm-validators>
                            </div>

                            <!-- Button -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 text-end">
                                <button class="btn btn-primary btn-sm" type="button"
                                    [disabled]="formDifferentBed.invalid"
                                    (click)="handleSubmitModalDifferentBed(formDifferentBed)">
                                    <i class="fas fa-save fa-sm"></i>&nbsp; Simpan
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </ng-template>
</org-card-layout>