<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    <form [formGroup]="formInput">
        <!-- Header -->
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                <!-- Pemesanan -->
                <org-input-look-up-kode #LookupKodePemesanan [lookup-url]="urlPemesanan" [idKode]="'nomor_pemesanan'"
                    [modal-title]="'Data Pemesanan'" [idTitle]="'nama_supplier'"
                    (onGetSelectedData)="heandleSelectedPemesanan($event)" [columns]="LookupGridPenerimaan.columns"
                    [filter-lookup]="LookupGridPenerimaan.filter" [label]="'Pemesanan*'">
                </org-input-look-up-kode>

                <!-- Stockroom -->
                <mol-input-text [label]="'Stockroom*'" formControlName="nama_stockroom" [inputFieldState]="'detail'">
                </mol-input-text>

                <!-- Tgl Penerimaan -->
                <mol-datepicker-syncfusion [label]="'Tgl Penerimaan*'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_penerimaan">
                </mol-datepicker-syncfusion>

                <!-- No. Penerimaan -->
                <mol-input-text style="display:none" [label]="'No Penerimaan'" formControlName="nomor_penerimaan"
                    [inputFieldState]="inputFieldState">
                </mol-input-text>

                <!-- Dropdown Jenis Penerimaan -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Jenis Penerimaan*'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #MaritalJenisPenerimaanDropdown id="marital"
                            [dataSource]="setupJenisPenerimaanService.dataSource| async"
                            [fields]="MaritalJenisPenerimaanDropdownField" [allowFiltering]="true"
                            formControlName="kode_jenis_penerimaan">
                        </ejs-dropdownlist>
                    </div>
                </div>

                <!-- No. Surat Jalan -->
                <mol-input-text [label]="'No Surat Jalan*'" formControlName="nomor_surat_jalan_supplier"
                    [inputFieldState]="inputFieldState">
                </mol-input-text>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                <!-- Tgl Surat Jalan -->
                <mol-datepicker-syncfusion [label]="'Tgl Surat Jalan*'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_surat_jalan_supplier">
                </mol-datepicker-syncfusion>

                <!-- Dropdown Shipping Method -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Shipping Method*'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #MaritalShippingMethodDropdown id="marital"
                            [dataSource]="setupShippingMethodService.dataSource| async"
                            [fields]="MaritalShippingMethodDropdownField" [allowFiltering]="true"
                            formControlName="id_shipping_method">
                        </ejs-dropdownlist>
                    </div>
                </div>

                <!-- Dropdown Payment Term -->
                <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Payment Term*'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #MaritalPaymentTermDropdown id="marital"
                            [dataSource]="setupPaymentTermService.dataSource| async"
                            [fields]="MaritalPaymentTermDropdownField" [allowFiltering]="true"
                            formControlName="id_payment_term">
                        </ejs-dropdownlist>
                    </div>
                </div>

                <!-- Tgl Jatuh Tempo -->
                <mol-datepicker-syncfusion [label]="'Tgl Jatuh Tempo*'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_jatuh_tempo_bayar">
                </mol-datepicker-syncfusion>

                <!-- Keterangan -->
                <mol-input-textarea [label]="'Keterangan'" formControlName="keterangan"></mol-input-textarea>
            </div>
        </div>

        <!-- Detail -->
        <ejs-grid #gridDetail [id]="'GridDeail'" [editSettings]='GridDataEditSettings'
            [dataSource]='penerimaanService.dataDetail$ | async' [gridLines]="'Both'" [toolbar]='GridDetailToolbar'
            (actionComplete)="handleActionCompleted($event)" 
            (actionBegin)="handleActionBegin($event)"
            [allowResizing]="true"
            (toolbarClick)="onToolbarClick($event)" (load)="handleLoadGrid($event)"
            (rowSelected)="handleSelectdRow($event)" (commandClick)="handleCommandClick($event)">
            <e-columns>
                <e-column [width]="70" [field]="'command'" [headerText]="'D'" [visible]="true" [allowEditing]="false"
                    [allowSorting]="false" [textAlign]="'Center'" [headerTextAlign]="'Center'"
                    [commands]="CommandButton">
                </e-column>
                <e-column [visible]="false" field='pemesanan_id' [allowEditing]="false" headerText='Kontrak'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='pemesanan_detail_id' [allowEditing]="false" headerText='Kontrak'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='no_urut' [allowEditing]="false" headerText='urut'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="false" field='id_item' [allowEditing]="false" headerText='id_item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='barcode' [allowEditing]="false" headerText='Barcode'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='kode_item' [allowEditing]="false" headerText='Kode Item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='nama_item' [allowEditing]="false" headerText='Nama Item'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='batch_number' [allowEditing]="true" headerText='Batch Number'
                    editType='defaultEdit' textAlign="left" headerTextAlign="center">
                </e-column>
                <e-column [visible]="true" field='expired_date' [allowEditing]="true" headerText='Expired'
                    editType='datepickeredit' textAlign="left" headerTextAlign="center" format="dd MMMM yyyy"
                    type="Date" [edit]="TglExpiredParams">
                </e-column>
                <e-column [visible]="true" field='qty_satuan_besar' [allowEditing]="true" headerText='Banyak'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" [width]="120">
                </e-column>
                <e-column [visible]="true" field='kode_satuan_besar' [allowEditing]="true" headerText='Satuan'
                    editType='dropdownedit' [edit]='satuanParams' textAlign="left" headerTextAlign="center" [width]="130">
                </e-column>
                <e-column [visible]="true" field='isi' [allowEditing]="false" headerText='Isi' editType='defaultEdit'
                    textAlign="right" headerTextAlign="right" [width]="80">
                </e-column>
                <e-column [visible]="true" field='qty_terima' [allowEditing]="false" headerText='QTY'
                    editType='defaultEdit' textAlign="right" headerTextAlign="right" [width]="130">
                </e-column>
                <e-column [visible]="false" field='harga_satuan' [allowEditing]="false" headerText='Harga Satuan'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_prosentase_1' [allowEditing]="true" headerText='D1'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_nominal_1' [allowEditing]="true" headerText='D1'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_prosentase_2' [allowEditing]="true" headerText='D2'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='disc_nominal_2' [allowEditing]="true" headerText='D2'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='harga_satuan_brutto' [allowEditing]="false"
                    headerText='harga satuan bruto' editType='defaultEdit' textAlign="right" headerTextAlign="center"
                    format="N2">
                </e-column>
                <e-column [visible]="false" field='tax_prosentase' [allowEditing]="true" headerText='tax'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='tax_nominal' [allowEditing]="true" headerText='tax'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
                <e-column [visible]="false" field='harga_satuan_netto' [allowEditing]="false"
                    headerText='harga satuan netto' editType='defaultEdit' textAlign="right" headerTextAlign="center"
                    format="N2">
                </e-column>
                <e-column [visible]="false" field='sub_total' [allowEditing]="false" headerText='Sub Total'
                    editType='defaultEdit' textAlign="right" headerTextAlign="center" format="N2">
                </e-column>
            </e-columns>
        </ejs-grid>

        <!-- Footer -->
        <div class="row">
            <div class="col-sm-5">
            </div>
            <div class="col-sm-3">
            </div>
            <div class="col-sm-4">
                <mol-input-numeric [label]="'Jumlah Item'" [isFooter]="true" [value]="penerimaanService.jumlah_item"
                    formControlName="jumlah_item" [inputFieldState]="'detail'"></mol-input-numeric>
            </div>
        </div>
    </form>

    <!-- Item -->
    <org-look-up #LookupItem [lookup-url]="urlItem" (onGetSelectedData)="heandleSelectedItem($event)"
        [columns]="GridLookUpItem.columns" [filter-lookup]="GridLookUpItem.filter" [modal-title]="'Data Item'">
    </org-look-up>

    <!-- Modal Harga  -->
    <ng-template #modalHarga>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Harga</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #hargaValueId id="HargaValueId" class="form-control"
                        (keydown.enter)="handleHargaChange(hargaValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal QTY  -->
    <ng-template #modalQty>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Qty</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #qtyValueId id="QtyValueId" class="form-control"
                        (keydown.enter)="handleQtyChange(qtyValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal subtotal  -->
    <ng-template #modalSubtotal>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Subtotal</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #subtotalValueId id="SubtotalValueId" class="form-control"
                        (keydown.enter)="handleSubtotalChange(subtotalValueId.value)" />
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>

    <!-- Modal satuan  -->
    <ng-template #modalSatuan>
        <div class="modal-header px-2 py-1 background-biru-muda text-white">
            <h5 class="modal-title pull-left">Edit Satuan</h5>
            <button type="button" class="btn pull-right text-white" aria-label="Close" (click)="modalRef.hide()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-10">
            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <select #satuanValueId id="SatuanValueId" [value]="detailSelected.kode_satuan_besar"
                        class="form-control" (keydown.enter)="handleSatuanChange(satuanValueId.value)" multiple>
                        <option *ngFor="let item of datasatuan" [ngValue]="item.kode_satuan">{{item.kode_satuan}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda">
            <button type="button" class="btn btn-primary">Oke</button>
        </div>
    </ng-template>
</org-card-layout>