<!-- Offcanvas History Riwayat Item -->
<button id="btnRiwayatItem" class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
    data-bs-target="#offcanvasRiwayat" aria-controls="offcanvasRiwayat" [hidden]="true">
    Riwayat Item Tagihan
</button>

<div class="offcanvas offcanvas-end" id="offcanvasRiwayat" aria-labelledby="offcanvasRiwayatLabel"
    style="width: 40rem;">
    <div class="offcanvas-header">
        <h5 id="offcanvasRiwayatLabel">{{ OffcanvasRiwayatTitle }}</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

    </div>
</div>