<form class="p-3">
    <div class="row">
        <div class="col-sm-6">
            <h5 class="">Detail Personal</h5>
            <mol-input-text [label]="'No MR'"></mol-input-text>
            <mol-input-text [label]="'Nama Pasien'"></mol-input-text>
            <mol-input-select [label]="'Jenis Kelamin'" [options]="[{'pria':'Pria'},{'wanita':'Wanita'}]">
            </mol-input-select>
            <org-input-look-up [label]="'Agama'"></org-input-look-up>
            <mol-input-text [label]="'Tempat Lahir'"></mol-input-text>
            <mol-input-datepicker [label]="'Tgl Lahir'"></mol-input-datepicker>
            <org-input-look-up [label]="'Status Kawin'"></org-input-look-up>
            <org-input-look-up [label]="'Pendidikan'"></org-input-look-up>
            <org-input-look-up [label]="'Pekerjaan'"></org-input-look-up>
            <mol-input-select [label]="'Gol Darah'"></mol-input-select>
            <mol-input-select [label]="'Keterbatasan'"></mol-input-select>
        </div>

        <div class="col-sm-6">
            <h5 class="">Detail Alamat</h5>
            <mol-input-textarea [label]="'Alamat'"></mol-input-textarea>
            <div class="mb-2 row">
                <div class="col-sm-4">
                    <atm-label [LabelCaption]="'RT/RW'"></atm-label>
                </div>
                <div class="col-sm-8 row">
                    <div class="col-sm-5">
                        <atm-input></atm-input>
                    </div>
                    <div class="col-sm-2">/</div>
                    <div class="col-sm-5">
                        <atm-input></atm-input>
                    </div>
                </div>
            </div>
            <mol-input-text [label]="'kelurahan'"></mol-input-text>
            <org-input-look-up [label]="'Kecamatan'"></org-input-look-up>
            <org-input-look-up [label]="'Kab/Kota'"></org-input-look-up>
            <org-input-look-up [label]="'Propinsi'"></org-input-look-up>
            <mol-input-text [label]="'kode pos'"></mol-input-text>
            <mol-input-text [label]="'Telp'"></mol-input-text>
            <mol-input-text [label]="'Handphone'"></mol-input-text>
        </div>
    </div>
</form>