<!-- Modal Add Antrian -->
<button id="btnOpenModalUpdateStatusTerjadwal" type="button" class="btn btn-primary" data-bs-toggle="modal"
    data-bs-target="#UpdateStatusTerjadwal" [hidden]="true">
    Launch Modal Update Status Terjadwal
</button>

<div class="modal fade" id="UpdateStatusTerjadwal" data-bs-backdrop="static" data-bs-keyboard="false"
    aria-labelledby=" UpdateStatusTerjadwalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content border-0">
            <div class="modal-header py-2 px-3 background-biru-muda text-white">
                <h5 class="modal-title" id="UpdateStatusTerjadwalLabel">
                    Update Status Antrian <i class="fas fa-arrow-right fa-xs"></i> Terjadwal
                </h5>
                <button id="btnCloseModalUpdateStatusTerjadwal" type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="FormUpdateStatus">
                    <div class="row">
                        <!-- Pasien Antrian Reguler -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <p class="text-biru-tua mb-0">Pasien Antrian Reguler</p>
                                </div>
                                <div class="card-body">
                                    <!-- Nama Pasien -->
                                    <mol-input-text [id]="'nama_pasien_antrian'" [label]="'Nama Pasien'"
                                        [disabled]="true">
                                    </mol-input-text>

                                    <!-- No. MR -->
                                    <mol-input-text [id]="'no_rekam_medis_pasien_antrian'" [label]="'No. MR Pasien'"
                                        [disabled]="true">
                                    </mol-input-text>

                                    <!-- Debitur Pasien -->
                                    <mol-input-text [id]="'debitur_pasien_antrian'" [label]="'Debitur Pasien'"
                                        [disabled]="true">
                                    </mol-input-text>

                                    <!-- Kelas Request -->
                                    <mol-input-text [id]="'kelas_request_antrian'" [label]="'Kelas Request'"
                                        [disabled]="true">
                                    </mol-input-text>

                                    <!-- Tgl. Rencana Masuk -->
                                    <mol-input-text [id]="'tanggal_rencana_masuk'" [label]="'Tgl. Rencana Inap'"
                                        [disabled]="true">
                                    </mol-input-text>
                                </div>
                            </div>
                        </div>

                        <!-- Pasien Rencana Pulang -->
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="card shadow-sm">
                                <div class="card-header">
                                    <p class="text-biru-tua mb-0">Pasien Rencana Pulang</p>
                                </div>
                                <div class="card-body">
                                    <!-- Pilih Pasien -->
                                    <org-input-look-up #LookupPasien [modal-title]="'Data Pasien Rencana Pulang'"
                                        [lookup-url]="UrlLookupPasien" [idTitle]="'nama_pasien'"
                                        (onGetSelectedData)="handleSelectedLookupPasienRencanaPulang($event)"
                                        [columns]="Config.LookupSuratPerintah.columns"
                                        [filter-lookup]="Config.LookupSuratPerintah.filter"
                                        [label]="'Pasien Rencana Pulang'">
                                    </org-input-look-up>

                                    <!-- No. MR -->
                                    <mol-input-text [id]="'no_rekam_medis_rencana_pulang'" [label]="'No. MR Pasien'"
                                        [disabled]="true">
                                    </mol-input-text>

                                    <!-- No. Room -->
                                    <mol-input-text [id]="'no_room_rencana_pulang'" [label]="'No. Room'"
                                        [disabled]="true">
                                    </mol-input-text>

                                    <!-- No. Bed -->
                                    <mol-input-text [id]="'no_bed_rencana_pulang'" [label]="'No. Bed'" [disabled]="true"
                                        formControlName="">
                                    </mol-input-text>

                                    <!-- Tgl. Rencana Pulang -->
                                    <mol-input-text [id]="'tgl_rencana_pulang'" [label]="'Tgl. Rencana Pulang'"
                                        [disabled]="true">
                                    </mol-input-text>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2 px-3 background-abu-muda text-white">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary btn-sm"
                    (click)="handleSubmitUpdateStatusAntrianTerjadwal(FormUpdateStatus.value)">
                    Simpan
                </button>
            </div>
        </div>
    </div>
</div>