#basic-addon1 {
    height: 32px;
    padding-left: 12px;
    width: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 0;
  }
  
  #DropdownObat > span {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  #NumericQty > span > input {
    text-align: right;
    padding-right: 5px;
  }
  
  div.head {
    font-size: 13px !important;
    font-weight: 500 !important;
  }
  
  .is-racikan{
    background-color: #f3e6f3;
  }
  
  .form_paragraf{
    display: inline-block!important;
  }

.form-label {
  margin-bottom: 0px;
}

#basic-addon1 {
  height: 32px;
  padding-left: 12px;
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 0;
}

.e-toolbar .e-toolbar-item .e-tbar-btn.e-btn .e-icons.e-btn-icon {
  min-height: 14px !important;
}

th.e-headercell {
  background-color: rgba(0, 0, 0, 0.03);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 5px !important;
  height: 30px !important;
}

span.e-headertext {
  font-size: 13px !important;
}

td.e-rowcell {
  padding: 5px !important;
}


.e-grid .e-detailheadercell,
td.e-detailcell.e-lastrowcell {
  background-color: var(--biru-muda) !important;
}

div.e-gridcontent
  tr.e-detailrow
  td.e-detailcell
  div.e-headercontent
  th.e-headercell {
  background-color: var(--biru-muda) !important;
}