#grid {
  border-radius: 0.5rem;
}

.e-toolbar .e-toolbar-item .e-tbar-btn.e-btn .e-icons.e-btn-icon {
  min-height: 14px !important;
}

th.e-headercell {
  background-color: rgba(0, 0, 0, 0.03);
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px !important;
  height: 30px !important;
}

span.e-headertext {
  font-size: 13px !important;
}

td.e-rowcell {
  padding: 10px !important;
}

td.e-groupcaption {
  background-color: var(--biru-tua) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}
