<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="handleClickButtonNav($event)"
    [TransparentBackground]="true">
    <!-- Filter -->
    <div class="row mb-1">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
            <app-filter #FilterDashboardComps (handlePencarian)="handlePencarianFilter($event)"></app-filter>
        </div>
    </div>

    <!-- Card -->
    <div class="row mb-2">
        <div *ngFor="let item of CardDashboard" class="col-lg-3 col-md-3 col-sm-3 col-xs-3 mb-2 px-2">
            <app-card-dashboard [Card]="item"></app-card-dashboard>
        </div>
    </div>

    <div class="row mb-2">
        <!-- Bar Chart Cara Bayar -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 px-2">
            <div class="card card-kunjungan-cara-bayar">
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                            <p class="text-hitam mb-0">
                                Kunjungan Berdasarkan Cara Bayar
                            </p>
                            <p class="text-abu-tua mb-0" style="font-size: 14px">
                                Cara Bayar BPJS & Umum
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
                            <app-bar-chart [Datasource]="ChartKunjunganByCaraBayar"></app-bar-chart>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Progress Chart Jenis Pasien -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 px-2">
            <div class="card card-kunjungan-cara-bayar">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 mb-2">
                            <p class="text-hitam mb-0">
                                Kunjungan Berdasarkan Jenis Pasien
                            </p>
                            <p class="text-abu-tua mb-0" style="font-size: 14px">
                                Pasien Lama & Pasien Baru
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
                            <app-progress-chart [Datasource]="ChartKunjunganByJenisPasien" [Caption]="'Kunjungan'">
                            </app-progress-chart>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 px-0 text-center">
                            <p class="mb-0" style="font-size: 15px;">
                                <span class="fas fa-square fa-sm text-abu-tua"></span>&nbsp; 150 Pasien Baru
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 px-0 text-center">
                            <p class="mb-0" style="font-size: 15px;">
                                <span class="fas fa-square fa-sm text-biru-tua"></span>&nbsp; 350 Pasien Lama
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Progress Chart Jenis Pasien -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 px-2">
            <div class="card card-kunjungan-cara-bayar">
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-2 mb-2">
                            <p class="text-hitam mb-0">
                                Bed Occupation Rate
                            </p>
                            <p class="text-abu-tua mb-0" style="font-size: 14px">
                                Presentase Pemakaian Tempat Tidur
                            </p>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-1">
                            <app-progress-chart [Datasource]="ChartBedOccupationRate" [Caption]="'%'">
                            </app-progress-chart>
                        </div>
                    </div>
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 px-0 text-center">
                            <p class="mb-0" style="font-size: 13px;">
                                <span class="fas fa-square fa-sm text-abu-tua"></span>&nbsp; 150 Bed Digunakan
                            </p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 px-0 text-center">
                            <p class="mb-0" style="font-size: 13px;">
                                <span class="fas fa-square fa-sm text-biru-tua"></span>&nbsp; 350 Bed Tersedia
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</org-card-layout>