<org-card-layout [ButtonNav]="TabId == 'Input' ? ButtonNav : []" (onClickButtonNav)="handleClickButtonNav($event)">
    <org-tabs #OrgTabsRef [showHeader]="false" (onGetSelectedTabId)="handleSelectedTabId($event)">
        <!-- Data -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Data'">Data Temperatur Item</org-tabs-label>
            <org-tabs-body>
                <mol-grid
                    #GridData
                    [grid-height]="300"
                    [grid-DataSource]="GridDatasource"
                    [grid-paging]="false"
                    [grid-editSettings]="GridDataEditSettings"
                    [grid-lines]="'Both'"
                    [grid-toolbar]="GridDataToolbar"
                    [columns]="GridConfig.GridColumns"
                    (row-selected)="handleSelectedRow($event)"
                    (toolbar-click)="handleToolbarClick($event)"
                    (load-grid)="handleLoadGrid($event)"
                    (initialized)="InitalizedGrid($event)"
                    (command-click)="handleClickCommandGrid($event)"></mol-grid>
            </org-tabs-body>
        </org-tabs-item>
        <!-- Input -->
        <org-tabs-item>
            <org-tabs-label [Id]="'Input'">Input Temperatur Item</org-tabs-label>
            <org-tabs-body>
                <form [formGroup]="FormInputData" class="p-2">
                    <div class="row mb-2">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                            <mol-input-text 
                                [label]="'Kode Temperatur Item'" 
                                formControlName="temperatur_item"
                                [IsFormControlInvalid]="temperatur_item.invalid"
                                [ValidatorsCaption]="'Kode Temperatur Item Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState"
                                >
                            </mol-input-text>
                            <mol-input-text 
                                [label]="'Nama Temperatur Item'" 
                                formControlName="keterangan"
                                [IsFormControlInvalid]="keterangan.invalid"
                                [ValidatorsCaption]="'Nama Temperatur Item Tidak Boleh Kosong'"
                                [inputFieldState]="inputFieldState">
                            </mol-input-text>
                        </div>
                    </div>
                </form>
            </org-tabs-body>
        </org-tabs-item>
    </org-tabs>
</org-card-layout>