<org-card-layout>
    <!-- Tanggal -->
    <div class="row mb-3">
        <div class="col-lg-4 col-md-4 col-sm-4 col-sx-4">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <atm-label [LabelCaption]="'Tanggal'"></atm-label>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                    <input type="text" class="form-control form-select-sm" readonly
                        value="{{ CurrentDate | date: 'dd MMMM yyyy HH:mm:ss' }}">
                </div>
            </div>
        </div>
    </div>

    <!-- Daftar Modal Kasir  -->
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card border-0 shadow-sm">
                <div class="card-header p-2 border">
                    <p class="text-biru-muda mb-0">Daftar Transaksi Tutup Kasir</p>
                </div>
                <div class="card-body p-0">
                    <mol-grid #GridData [grid-height]="'calc(100vh - 21rem)'" [grid-DataSource]="GridDatasource"
                        [grid-paging]="false" [grid-editSettings]="GridDataEditSettings" [grid-lines]="'Both'"
                        [grid-toolbar]="GridDataToolbar" [columns]="GridConfig.GridSetupBukaKasirIRJAColumns"
                        (row-selected)="handleSelectedRow($event)" (toolbar-click)="handleToolbarClick($event)"
                        (initialized)="InitalizedGrid($event)">
                    </mol-grid>
                </div>
            </div>
        </div>

        <!-- Modal Buka Kasir -->
        <button id="btnModalBukaKasir" type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#modalBukaKasir" [hidden]="true">
            Launch Modal Pembayaran
        </button>

        <div class="modal fade" id="modalBukaKasir" data-bs-backdrop="static" data-bs-keyboard="false"
            aria-labelledby="modalBukaKasirLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-0">
                    <div class="modal-header py-2 px-3 background-biru-muda text-white">
                        <h5 class="modal-title" id="modalBukaKasirLabel">Input Modal Kasir Baru</h5>
                        <button id="btnCloseModalBukaKasir" type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <form [formGroup]="FormBukaKasir">
                            <div class="row">
                                <!-- Jumlah Modal -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                                    <atm-label [LabelCaption]="'Jumlah Modal Awal'"></atm-label>
                                    <ejs-numerictextbox [enableRtl]="true" [showClearButton]="false"
                                        [showSpinButton]="false" [format]="'N2'" formControlName="modal_awal">
                                    </ejs-numerictextbox>
                                </div>

                                <!-- Pilih Kasir -->
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <atm-label [LabelCaption]="'Pilih Kasir'"></atm-label>
                                    <ejs-dropdownlist #KasirDropdown [allowFiltering]="true"
                                        [dataSource]="KasirDatasource" [fields]="KasirFields"
                                        formControlName="id_user_kasir">
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer py-2 px-3 background-abu-muda text-white">
                        <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="button" class="btn btn-primary btn-sm"
                            (click)="handleSubmitModalBukaKasir(FormBukaKasir.value)">
                            Simpan
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</org-card-layout>