<org-card-layout [ButtonNav]="ButtonNav" (onClickButtonNav)="onClickButtonNav($event)">
    
    <form [formGroup]="formInput">
        <div class="row mb-2">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                <!-- <org-input-look-up-kode #LookupKodePenerimaan [lookup-url]="urlPenerimaan" [idKode]="'id_penerimaan'" [modal-title]="'Data Penerimaan'"
                    [idTitle]="'penerimaan'" (onGetSelectedData)="heandleSelectedPenerimaan($event)"
                    [columns]="LookupGridPenerimaan.columns" [filter-lookup]="LookupGridPenerimaan.filter"
                    [label]="'Penerimaan'">
                </org-input-look-up-kode> -->
                <!-- import {MM} from 'src/app/api/MM' -->
                <!-- import * as LookupGridPenerimaan from './json/LookupGridPenerimaan.json' -->
                <!-- urlPenerimaan = MM.SETUP_DATA.SETUP_COA.GET_ALL_BY_PARMS; -->
                <!-- LookupGridPenerimaan = LookupGridPenerimaan; -->
                <!-- @ViewChild('LookupKodePenerimaan') LookupKodePenerimaan: OrgInputLookUpKodeComponent; -->
                <!-- heandleSelectedPenerimaan(args: any): void {
                    this.id_penerimaan.setValue(args.id_penerimaan);
                } -->
                <!-- this.LookupKodePenerimaan.resetValue(); -->
                <mol-datepicker-syncfusion [label]="'Tgl Penerimaan'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_penerimaan">
                </mol-datepicker-syncfusion>
                <mol-input-text [label]="'Supplier'" formControlName="nama_supplier" [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Stockroom'" formControlName="nama_stockroom" [inputFieldState]="'detail'"></mol-input-text>
                

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 mb-2">
                <mol-input-text [label]="'No Surat Jalan'" formControlName="nomor_surat_jalan_supplier" [inputFieldState]="inputFieldState"></mol-input-text>
                <mol-datepicker-syncfusion [label]="'Tgl Surat Jalan'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_surat_jalan_supplier">
                </mol-datepicker-syncfusion> 
                <!-- Dropdown Shipping Method -->
                <!-- <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Shipping Method'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #MaritalShippingMethodDropdown id="marital"
                            [dataSource]="setupShippingMethodService.dataSource| async"
                            [fields]="MaritalShippingMethodDropdownField" [allowFiltering]="true"
                            formControlName="id_tipe_supplier">
                        </ejs-dropdownlist>
                    </div>
                </div> -->
                <!-- SetupShippingMethodDropdownField: object = { text: 'shipping_method', value: 'id_shipping_method' }; -->
                <!-- public setupShippingMethodService: SetupShippingMethodService, -->
                <!-- this.setupShippingMethodService.setDataSource(); --> 

                <!-- Dropdown Payment Term -->
                <!-- <div class="row mb-2">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <atm-label [LabelCaption]="'Payment Term'"></atm-label>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <ejs-dropdownlist #MaritalPaymentTermDropdown id="marital"
                            [dataSource]="setupPaymentTermService.dataSource| async"
                            [fields]="MaritalPaymentTermDropdownField" [allowFiltering]="true"
                            formControlName="id_tipe_supplier">
                        </ejs-dropdownlist>
                    </div>
                </div> -->
                <!-- SetupPaymentTermDropdownField: object = { text: 'payment_term', value: 'id_payment_term' }; -->
                <!-- public setupPaymentTermService: SetupPaymentTermService, -->
                <!-- this.setupPaymentTermService.setDataSource(); -->

                <mol-datepicker-syncfusion [label]="'Tgl Jatuh Tempo'" [format]="'dd MMMM yyyy'"
                    formControlName="tanggal_jatuh_tempo_bayar">
                </mol-datepicker-syncfusion>
                <mol-input-textarea [label]="'Keterangan'" formControlName="keterangan"></mol-input-textarea>
            </div>
        </div>
        <div class="card text-center mb-2">
            <div class="card-body p-0">
                <mol-grid 
                    [grid-DataSource]="penerimaanService.dataDetail$| async"
                    [columns]="ConfigGrid.TrDetail"
                ></mol-grid>
            </div>
            <div class="card-footer text-end">
              Total Transaksi : {{ sub_total_1.value | currency:"":"" }}
            </div>
          </div>
        
        <div class="row">
            <div class="col-sm-4">
                <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="penerimaanService.sub_total_1" formControlName="sub_total_1"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Diskon'" [isFooter]="true"
                    [value]="penerimaanService.total_disc" formControlName="total_disc"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="penerimaanService.sub_total_2" formControlName="sub_total_2"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Tax'" [isFooter]="true"
                    [value]="penerimaanService.total_tax" formControlName="total_tax"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Total Transaksi'" [isFooter]="true"
                    [value]="penerimaanService.total_transaksi" formControlName="total_transaksi"
                    [inputFieldState]="'detail'"></mol-input-text>
            </div>
            <div class="col-sm-4">
                <mol-input-text [label]="'Biaya Kirim'" formControlName="biaya_kirim" [isFooter]="true" [inputFieldState]="'input'"></mol-input-text>
                <mol-input-text [label]="'Biaya Asuransi'" formControlName="biaya_asuransi" [isFooter]="true" [inputFieldState]="'input'"></mol-input-text>
                <mol-input-text [label]="'Biaya Lain'" formControlName="biaya_lain" [isFooter]="true" [inputFieldState]="'input'"></mol-input-text>
                <mol-input-text [label]="'Potongan'" formControlName="potongan_nominal" [isFooter]="true" [inputFieldState]="'input'"></mol-input-text>
                <mol-input-text [label]="'Uang Muka'" formControlName="total_uang_muka" [isFooter]="true" [inputFieldState]="'input'"></mol-input-text>   
            </div>
            <div class="col-sm-4">
                <mol-input-text [label]="'Jumlah Item'" [isFooter]="true"
                    [value]="penerimaanService.jumlah_item" formControlName="jumlah_item"
                    [inputFieldState]="'detail'"></mol-input-text>
                <mol-input-text [label]="'Total Tagihan'" formControlName="total_tagihan" [isFooter]="true" [inputFieldState]="inputFieldState"></mol-input-text>
            </div>
        </div>
    </form>

</org-card-layout>