<ng-template #template>
    <div class="modal-content border-0 large-modal-content">
        <div class="modal-header px-2 py-1">
            <h5 class="modal-title pull-left">
                {{ LookupTitle }}
            </h5>
            <button type="button" class="btn pull-right" aria-label="Close" (click)="handleCloseModalLookupChecklist()">
                <i class="fas fa-window-close"></i>
            </button>
        </div>
        <div class="modal-body p-2">
            <div class="row mx-0 my-1 align-items-center">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h5 class="card-title mb-1">Cari :</h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <mol-lock-up-filters [filters]="LookupFilters" (onChangeFilters)="onChangeFilters($event)">
                    </mol-lock-up-filters>
                </div>
            </div>

            <div class="row mx-0 my-2">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <input type="text" #searchValueId class="form-control" id="searchValueId"
                        (keydown.enter)="onSearchLookup(searchValueId.value)" />
                </div>
            </div>

            <div class="row mx-0 my-1">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <mol-grid #GridData [grid-id]="GridId" [grid-height]="275" [grid-DataSource]="GridDataSource"
                        [grid-lines]="'Both'" [columns]="GridColumns" [grid-paging]="true"
                        [grid-initial-page]="GridPagingSettings" (row-selected)="onRowSelected($event)"
                        (initialized)="onInitialized($event)">
                    </mol-grid>
                </div>
            </div>
        </div>
        <div class="modal-footer background-abu-muda p-2">
            <button type="button" class="btn btn-secondary btn-sm mx-2" (click)="handleCloseModalLookupChecklist()">
                <i class="fas fa-times fa-sm"></i>&nbsp; Tutup
            </button>
            <button type="button" class="btn btn-primary btn-sm" (click)="handleSubmitLookupChecklist()">
                <i class="fas fa-save fa-sm"></i>&nbsp; Simpan
            </button>
        </div>
    </div>
</ng-template>